{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/namak_logo.svg' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/namak_logo.svg' %}">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#e38b5a">
    <meta name="theme-color" content="#ffffff">

    <title>داشبورد همه‌کاره‌ی نمک</title>

    {% compress js %}
        <script src="{% static 'libs/angular-1.7.9/angular.js' %}"></script>
        <script src="{% static 'js/angular-ui-router.min.js' %}"></script>
        <script src="{% static 'libs/satellizer/dist/satellizer.min.js' %}"></script>
        <script src="{% static 'libs/angular-cookies/angular-cookies.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.fa.min.js' %}"></script>
        <script src="{% static 'js/angular-sanitize.js' %}"></script>
        <script src="{% static 'js/select.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-clockpicker.min.js' %}"></script>
        <script src="{% static 'modules/dashboard/dashboardApp.js' %}"></script>
        <script src="{% static 'modules/dashboard/services/dashboardHttpRequest.js' %}"></script>
        <script src="{% static 'modules/dashboard/services/offlineAPIHttpRequest.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/dashboardCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/employeeCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/managerCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/menuCategoryCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/menuItemCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/memberCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/boardgameCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/branchCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/salonCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/accountManagerCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/buyCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/paysCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/expenseCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/supplierCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/supplierDetailCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/returnCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/statusCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/expenseCategoryCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/reservationCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/closeOpenCashCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/tableCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/lotteryCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/quickAccessCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/printerCtrl.js' %}"></script>
        <script src="{% static 'modules/dashboard/controllers/reportsCtrl.js' %}"></script>
        <script src="{% static 'js/ng-tags-input.min.js' %}"></script>
    {% endcompress %}

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/ng-tags-input.min.css' %}"/>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-clockpicker.css' %}" rel="stylesheet">
        <link href="{% static 'css/select.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/select2.css' %}" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'fontawesome-free-5.11.2-web/css/all.css' %}">
    {% endcompress %}


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body ng-app="dashboard" ng-controller="dashboardCtrl">
<div class="modal fade mainModal alertModal redAlertModal" id="mainErrorModal" data-backdrop="static"
     data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modalHeader">
                <h2 class="modalTitle">خطا</h2>
                <a ng-click="close_modal('mainErrorModal', 'userProfileModal')" class="mainButton redButton" href=""
                   aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                </a>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <main class="col-sm-12">
                            <span class="alertText" ng-bind="error_message"></span>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade mainModal littleModal" id="userProfileModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modalHeader">
                <h2 class="modalTitle">اطلاعات کاربری</h2>
                <a class="mainButton redButton closeModal" ng-click="close_modal('userProfileModal')"
                   aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                </a>
                <a ng-click="update_profile()" href="" class="mainButton greenButton"><i
                        class="fas fa-save"></i> ثبت</a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label>نام<i class="fas fa-star-of-life"></i></label>
                            <input ng-model="user_profile_data.first_name" type="text"
                                   class="form-control" placeholder="نام">
                        </div>
                        <div class="col">
                            <label>نام خانوادگی<i class="fas fa-star-of-life"></i></label>
                            <input ng-model="user_profile_data.last_name" type="text"
                                   class="form-control" placeholder="نام خانوادگی">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>ایمیل<i class="fas fa-star-of-life"></i></label>
                            <input ng-model="user_profile_data.email" type="email"
                                   class="form-control" placeholder="ایمیل">

                            <label>آدرس<i class="fas fa-star-of-life"></i></label>
                            <input ng-model="user_profile_data.home_address" type="text"
                                   class="form-control" placeholder="آدرس">

                            <label>موبایل<i class="fas fa-star-of-life"></i></label>
                            <input ng-model="user_profile_data.phone" type="text"
                                   class="form-control" placeholder="موبایل">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label> رمز عبور قدیمی <i class="fa fa-question-circle"
                                                      title="در صورت عدم نیاز به تغییر رمز عبور فیلدهای زیر را خالی بگذارید."
                                                      data-toggle="tooltip" tooltip></i></label>
                            <input ng-model="user_profile_data.old_password" type="password"
                                   class="form-control" placeholder="رمز عبور قدیمی">

                            <label>رمز عبور جدید</label>
                            <input ng-model="user_profile_data.new_password" type="password"
                                   class="form-control" placeholder="رمز عبور جدید">

                            <label>تکرار رمز عبور جدید</label>
                            <input ng-model="user_profile_data.re_new_password" type="password"
                                   class="form-control" placeholder="تکرار رمز عبور جدید">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div style="position: absolute; top: 5em; left: 0;z-index: 1050;">
    <div class="toast" ng-class="{'toast-success' : toast_type === 'success', 'toast-danger': toast_type === 'danger'}"
         role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <button class="mainButton toast-button ml-1" data-dismiss="toast" aria-label="Close">
                <i class="fa fa-check"></i>
                <span>باشه</span>
            </button>
            <span ng-bind="toast_message"></span>
        </div>
    </div>
</div>

<nav class="topHeader navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item company-nav">
                <div class="item-group">
                    <button class="mainButton">
                        <span ng-bind="organization_name"></span>
                    </button>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span ng-bind="branch_name"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a ng-repeat="user_branch in user_data.branches" class="dropdown-item"
                               ng-click="changeBranch(user_branch)" href="">
                                <span ng-bind="user_branch.name"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item user-actions-nav">
                <div class="item-group" role="group">
                    <button class="mainButton">
                        <span ng-bind="user_full_name"></span>
                    </button>
                    <button ng-click="open_user_profile()" class="mainButton">
                        <i class="fas fa-cogs"></i>
                        <span> تنظیمات </span>
                    </button>
                    <button ng-click="log_out()" class="mainButton">
                        <i class="fas fa-sign-out-alt"></i>
                        <span> خروج </span>
                    </button>
                </div>
            </li>
            <li class="nav-item status-nav">
                <div class="item-group" role="group">
                    <button class="mainButton">
                        <i class="fa fa-cloud"></i>
                        <span> آنلاین </span>
                    </button>
                    <button class="mainButton">
                        <i class="fa fa-calendar"></i>
                        <span class="time_slot" ng-bind="get_today_var | persianNumber"></span>
                    </button>
                    <button class="mainButton">
                        <i class="fa fa-clock"></i>
                        <span class="time_slot" ng-bind="clock | date:'HH:mm' | persianNumber"></span>
                    </button>
                </div>
            </li>
        </ul>

    </div>
</nav>

<div class="container-fluid masterWrapper" id="dashboardWrapper">
    <div id="rightSidebarPageContentWrapper">
        <aside class="mainAside">
            <a class="notch-holder" href="index.html">
                <img src="{% static 'img/namak-logo@2x.png' %}" width="54" height="42">
                <span>
                <bold>نمک؛</bold>
                نرم افزار مدیریت کافه
            </span>
                <span class="namakVersion">
                    v1.0.20
                </span>
            </a>
            <nav class=" nav flex-column myNav">
                <ul>
                    <li class="nav-item">
                        <a ng-class="isActive('/quickAccess') ? 'nav-link active' : 'nav-link'"
                           ui-sref="quickAccess" href=""><i class="fas fa-user-circle"></i>داشبورد
                        </a>
                    </li>
                    <li class="nav-item">
                        <a ng-class="isActive('/cash_manager') ? 'nav-link active' : 'nav-link'"
                           ui-sref="cash_manager.salon"
                           href="" class="nav-link"><i class="fas fa-cash-register"></i>صندوق</a>

                    </li>
                    <li class="nav-item">
                        <a ui-sref="reservation"
                           ng-class="isActive('/reservation') ? 'nav-link active' : 'nav-link'"
                           class="nav-link"><i class="fas fa-table"></i>رزرواسیون</a>
                    </li>
                    <li class="nav-item">
                        <a ui-sref="member_manager.member" href=""
                           ng-class="isActive('/member_manager') ? 'nav-link active' : 'nav-link'"><i
                                class="fas fa-id-card"></i>عضویت</a>
                    </li>

                    <li class="nav-item">
                        <a ui-sref="boardgame" href=""
                           ng-class="isActive('/boardgame') ? 'nav-link active' : 'nav-link'"><i class="fas
                           fa-chess"></i>قفسه بازی‌ها</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link disabled"><i class="fas fa-calendar-day"></i>رویدادها</a>
                    </li>
                    <li class="nav-item">
                        <a ui-sref="account_manager.buy" href=""
                           ng-class="isActive('/account_manager') ? 'nav-link active' : 'nav-link'"><i class="fas
                           fa-chess"></i>حسابداری</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link disabled"><i class="fas fa-code"></i>پشتیبانی فنی</a>
                    </li>
                    <li class="nav-item" class="nav-link">
                        <a ui-sref="manager.addEmployee"
                           ng-class="isActive('/manager') ? 'nav-link active' : 'nav-link'"><i
                                class="fas fa-cogs"></i>مدیریت</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>


    <div id="mainPageContentWrapper">
        <div class="row no-gutters">
            <main class="col-sm-12 pageWrapper">
                <ui-view></ui-view>

            </main>
        </div>
    </div>

    <div id="leftSidebarWrapper">
        <aside class="leftAside">
            <div>
                <a ng-click="collapseLeftSidebar()" class="leftSideTitle" href="">
                    <i class="fas fa-bug"></i>
                    <span>گزارش اشکال</span>
                </a>
                <form id="leftAsideBugReportForm">
                    <div class="row">
                        <div class="col">
                            <input ng-model="new_bug_data.title" type="text"
                                   class="form-control" placeholder="عنوان">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        <textarea ng-model="new_bug_data.text" rows="5"
                                  class="form-control" placeholder="توضیحات"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="custom-file">
                                <input onchange="angular.element(this).scope().bugReportFileChange()"
                                       ng-model="new_bug_data.image_name" type="file"
                                       class="custom-file-input" id="bugFile">
                                <label style="direction: ltr;text-align: left" class="custom-file-label"
                                       for="customFile">پیوست تصویر ( اختیاری )</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button ng-click="send_bug_report()" class="mainButton greenButton">ارسال</button>
                        </div>
                    </div>
                </form>
                <a ng-click="collapseLeftSidebar()" class="leftSideTitle" href="">
                    <i class="fas fa-magic"></i>
                    <span>امکانات جدید</span>
                </a>
                <div class="newsWrapper">
                    <div ng-repeat="news in all_news" class="news">
                        <h6 ng-bind="news.title"></h6>
                        <p ng-bind="news.text"></p>
                    </div>
                </div>
            </div>
            <a class="leftSideTitle" href="" ng-click="collapseLeftSidebar()">
                <i class="fas fa-angle-double-right"></i>
                <i class="fas fa-angle-double-left"></i>
            </a>
        </aside>
    </div>

</div>
</body>
</html>
