<main ng-controller="mainpageCtrl">
    <section class="mainSection container">
        <img class="mobile" src="/static/img/landing/cafe-picture.png" alt="نرم‌افزار مدیریت کافه" width="260px">
        <div>
            <img class="desktop" src="/static/img/landing/namak-phrase@2x.png" alt="نرم‌افزار مدیریت کافه"
                 width="400px">
            <h1>نمک؛</h1>
            <p class="subTitle mobile">نرم افزار مدیریت کافه</p>
            <p class="subTitle backgroundWrapper">حواسمون به کسب و کارتون هست</p>
            <ul class="namakList">
                <li>بهترین تجربه کاربری در مدیریت کسب و کار و فروش
                </li>
                <li><span class="font-weight-bold">حسابداری</span>، مثل آب خوردن بدون نیاز به حسابدار
                </li>
                <li>از اکسل برای رزرواسیون استفاده نکنید
                </li>
                <li>ساده و هوشمند و تو دل برو
                </li>
            </ul>
            <button class="btn namakBlueButton namakBigButton">اکانت بساز و رایگان استفاده کن</button>
        </div>
        <img class="desktop cafeManImage" src="/static/img/landing/136B67FE-8EFB-4A44-AEDA-1FBB8D3FF7F5.png"
             alt="نرم‌افزار مدیریت کافه" width="45%">
    </section>
    <div class="whiteBackground">
        <section class="proper container">
            <img class="mobile" src="/static/img/landing/monaseb.png" alt="">
            <img class="desktop" src="/static/img/landing/monaseb@2x.png" alt="">
            <div>
                <div class="textWrapper">
                    <h2>کافه‌ها</h2>
                    <div class="imageWrapper">
                        <img src="/static/img/landing/cafemahali.jpg" alt="نرم‌افزار مدیریت کافه" width="100%">
                    </div>
                    <p>
                        این نرم‌افزار برای تمام کافه‌های بزرگ و محلی مناسب است و شما قادر خواهید بود به مدیریت کامل و
                        یکپارچه‌ی کافه‌ی خود در نمک بپردازید و از تمامی قابلیت‌های آن استفاده کنید. همچنین برای کافه‌های
                        محلی با تعداد میز کم این محصول رایگان خواهد بود.
                    </p>
                </div>
                <img class="mobile" src="/static/img/landing/va.png" alt="">
                <div class="textWrapper">
                    <h2>مراکز بازی رومیزی</h2>
                    <div class="imageWrapper">
                        <img src="/static/img/landing/cafebazi.jpg" alt="نرم‌افزار مدیریت کافه" width="100%">
                    </div>
                    <p>
                        این نرم‌افزار مناسب برای مراکز بازی‌های رومیزی نیز است و با اضافه شدن بخش باشگاه مشتریان و
                        مدیریت
                        بازی برای میز‌ها می‌تواند به عنوان یک سیستم کامل برای یک مرکز به خوبی نقش مدیریتی را ایفا کند.
                        همچنین شما می‌توانید به آسانی به فروش بازی‌های رومیزی به شکل امانی بپردازید.
                    </p>
                </div>
            </div>
        </section>
    </div>
    <section class="features container">
        <img class="desktop" src="/static/img/landing/vizhegi@2x.png" width="270px" alt="">
        <img class="mobile" src="/static/img/landing/vizhegi.png" alt="">
        <div>
            <div class="nav nav-tabs buttonsWrapper" id="nav-tab" role="tablist">
                <a href="#sales" class="active" id="sales-tab" data-toggle="tab" role="tab" aria-controls="sales"
                   aria-selected="true">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>فروش سالن</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#employees" id="employees-tab" data-toggle="tab" role="tab" aria-controls="employees"
                   aria-selected="false">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>مدیریت کارمندان</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#accounting" id="accounting-tab" data-toggle="tab" role="tab" aria-controls="accounting"
                   aria-selected="false">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>حسابداری</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#reservations" id="reservations-tab" data-toggle="tab" role="tab" aria-controls="reservations"
                   aria-selected="false">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>رزرو میز</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#stocks" id="stocks-tab" data-toggle="tab" role="tab" aria-controls="stocks"
                   aria-selected="false">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>انبارداری</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#customers" id="customers-tab" data-toggle="tab" role="tab" aria-controls="customers"
                   aria-selected="false">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>باشگاه مشتریان</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#gaming" id="gaming-tab" data-toggle="tab" role="tab" aria-controls="gaming"
                   aria-selected="false">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>مرکز بازی</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#events" id="events-tab" data-toggle="tab" role="tab" aria-controls="events"
                   aria-selected="false">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>مدیریت رویداد</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
            </div>
            <div class="tab-content namakFeaturesTabContentWrapper">
                <div class="tab-pane fade show active" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                    <div>
                        <div>
                            <h3>
                                <i class="fas fa-credit-card"></i>
                                <span>فروش سالن</span>
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                                چاپگرها
                                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                                مورد
                                نیاز، و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                                گذشته
                                حال
                                و
                            </p>
                            <h4>۳۵ هزار تومان / ماهانه</h4>
                        </div>
                        <img class="mobile" src="/static/img/landing/salon.png" alt="" width="100%">
                        <img class="desktop" src="/static/img/landing/salon@2x.png" alt="" width="50%">
                    </div>
                </div>
                <div class="tab-pane fade" id="employees" role="tabpanel" aria-labelledby="employees-tab">
                    <div>
                        <div>
                            <h3>
                                <i class="fas fa-credit-card"></i>
                                <span>فروش سالن</span>
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                                چاپگرها
                                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                                مورد
                                نیاز، و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                                گذشته
                                حال
                                و
                            </p>
                        </div>
                        <img class="desktop" src="/static/img/landing/IMG_0807@2x.png" alt="" width="50%">
                        <img class="mobile" src="/static/img/landing/IMG_0807.png" alt="" width="100%">
                    </div>
                </div>
                <div class="tab-pane fade" id="accounting" role="tabpanel" aria-labelledby="accounting-tab">
                    <div>
                        <div>
                            <h3>
                                <i class="fas fa-credit-card"></i>
                                <span>فروش سالن</span>
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                                چاپگرها
                                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                                مورد
                                نیاز، و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                                گذشته
                                حال
                                و
                            </p>
                        </div>
                        <img class="desktop" src="/static/img/landing/IMG_0807@2x.png" alt="" width="50%">
                        <img class="mobile" src="/static/img/landing/IMG_0807.png" alt="" width="100%">
                    </div>
                </div>
                <div class="tab-pane fade" id="reservations" role="tabpanel" aria-labelledby="reservations-tab">
                    <div>
                        <div>
                            <h3>
                                <i class="fas fa-credit-card"></i>
                                <span>فروش سالن</span>
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                                چاپگرها
                                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                                مورد
                                نیاز، و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                                گذشته
                                حال
                                و
                            </p>
                        </div>
                        <img class="desktop" src="/static/img/landing/IMG_0807@2x.png" alt="" width="50%">
                        <img class="mobile" src="/static/img/landing/IMG_0807.png" alt="" width="100%">
                    </div>
                </div>
                <div class="tab-pane fade" id="stocks" role="tabpanel" aria-labelledby="stocks-tab">
                    <div>
                        <div>
                            <h3>
                                <i class="fas fa-credit-card"></i>
                                <span>فروش سالن</span>
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                                چاپگرها
                                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                                مورد
                                نیاز، و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                                گذشته
                                حال
                                و
                            </p>
                        </div>
                        <img class="desktop" src="/static/img/landing/IMG_0807@2x.png" alt="" width="50%">
                        <img class="mobile" src="/static/img/landing/IMG_0807.png" alt="" width="100%">
                    </div>
                </div>
                <div class="tab-pane fade" id="customers" role="tabpanel" aria-labelledby="customers-tab">
                    <div>
                        <div>
                            <h3>
                                <i class="fas fa-credit-card"></i>
                                <span>فروش سالن</span>
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                                چاپگرها
                                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                                مورد
                                نیاز، و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                                گذشته
                                حال
                                و
                            </p>
                        </div>
                        <img class="desktop" src="/static/img/landing/IMG_0807@2x.png" alt="" width="50%">
                        <img class="mobile" src="/static/img/landing/IMG_0807.png" alt="" width="100%">
                    </div>
                </div>
                <div class="tab-pane fade" id="gaming" role="tabpanel" aria-labelledby="gaming-tab">
                    <div>
                        <div>
                            <h3>
                                <i class="fas fa-credit-card"></i>
                                <span>فروش سالن</span>
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                                چاپگرها
                                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                                مورد
                                نیاز، و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                                گذشته
                                حال
                                و
                            </p>
                        </div>
                        <img class="desktop" src="/static/img/landing/IMG_0807@2x.png" alt="" width="50%">
                        <img class="mobile" src="/static/img/landing/IMG_0807.png" alt="" width="100%">
                    </div>
                </div>
                <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
                    <div>
                        <div>
                            <h3>
                                <i class="fas fa-credit-card"></i>
                                <span>فروش سالن</span>
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                                چاپگرها
                                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                                مورد
                                نیاز، و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                                گذشته
                                حال
                                و
                            </p>
                        </div>
                        <img class="desktop" src="/static/img/landing/IMG_0807@2x.png" alt="" width="50%">
                        <img class="mobile" src="/static/img/landing/IMG_0807.png" alt="" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="whiteBackground">
        <section class="whyNamak container">
            <img class="mobile" src="/static/img/landing/chera.png" alt="">
            <img class="desktop" src="/static/img/landing/chera@2x.png" alt="">
            <div>
                <div class="whyNamakCard">
                    <img src="/static/img/landing/abr@2x.png" alt="">
                    <h3>تحت وب</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که ردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال کاربردهای متنوع با هدف بهبود ابزارهای کاربردیلازم است، و برای شرایط فعلی تکنولوژی
                        مورد
                        نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                        گذشته
                        حال کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
                    </p>
                </div>
                <div class="whyNamakCard">
                    <img src="/static/img/landing/arzn@2x.png" alt="">
                    <h3>تحت وب</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای
                    </p>
                </div>
            </div>
            <div>
                <div class="whyNamakCard">
                    <img src="/static/img/landing/shobe@2x.png" alt="">
                    <h3>تحت وب</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای
                    </p>
                </div>
                <div class="whyNamakCard">
                    <img src="/static/img/landing/hooshmand@2x.png" alt="">
                    <h3>تحت وب</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای
                    </p>
                </div>
                <div class="whyNamakCard">
                    <img src="/static/img/landing/support@2x.png" alt="">
                    <h3>تحت وب</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای
                    </p>
                </div>
            </div>
        </section>
    </div>
    <section class="education container">
        <img class="desktop" src="/static/img/landing/amoozesh@2x.png" alt="" width="20%">
        <img class="mobile" src="/static/img/landing/amoozesh.png" alt="" width="40%">
        <div>
            <img class="desktop" src="/static/img/landing/amoozeshPic@2x.png" alt="" width="100%">
            <img class="mobile" src="/static/img/landing/amoozeshPic.png" alt="" width="100%">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                چاپگرها
                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                نیاز، و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                و
            </p>
        </div>
    </section>
    <section class="testimonials container">
        <img class="desktop" src="/static/img/landing/etemad.com@2x.png" alt="" width="40%">
        <img class="mobile" src="/static/img/landing/etemad.com.png" alt="" width="80%">
        <div>
            <div>
                <img class="desktop" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082"
                     alt="">
                <img class="mobile" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082"
                     alt="">
                <p>
                    پُرس‌لاین، به ما این امکان را داد تا بتوانیم در کمترین زمان و با بالاترین دقت داده‌هایی را جمع‌آوری
                    کنیم که در روش‌های سنتی برایمان هزینه ریالی و زمانی چند برابری داشت.
                    دو ویژگی در پُرس‌لاین ما را به مشتری وفادار خود تبدیل کرده است: اول پنل بسیار کاربر‌پسند و دوم، سرعت
                    و چابکی تیم پشتیبانی و توسعه پُرس‌لاین.
                </p>
            </div>
            <div>
                <img class="desktop" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082"
                     alt="">
                <img class="mobile" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082"
                     alt="">
                <p>
                    پُرس‌لاین یکی از معدود سرویس‌های ایرانیه که به دلیل کاربری بسیار راحت و آسان، من هیچ‌وقت نیاز به
                    راهنما و پشتیبانی پیدا نکردم و این به نظرم مهم‌ترین ویژگی یک SaaS‌ (خدمت نرم افزاری بر بستر ابر) هست
                    که بچه‌های تیم پُرس‌لاین با موفقیت اون رو پیاده‌سازی کردند.
                </p>
            </div>
            <div>
                <img class="desktop" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082"
                     alt="">
                <img class="mobile" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082"
                     alt="">
                <p>
                    پُرس‌لاین، ساخت و توزیع پرسشنامه آنلاین را جذاب و حرفه‌ای و تحلیل داده‌ها را ساده می‌کند. فکر می‌کنم
                    از این پس، دانشجویانی که از پُرس‌لاین استفاده نمی‌کنند، مثل کسانی هستند که در مسابقه اتومبیل‌رانی،
                    پیاده می‌دوند.
                </p>
            </div>
        </div>
    </section>
    <footer class="namakFooter">
        <div class="footerEnd">
            <div class="rights">
                <small>
                    نمک، نرم‌افزار مثلا آزاد ( ما در دوولپمنت هستیم )
                </small>
            </div>
        </div>
    </footer>
</main>