<main ng-controller="mainpageCtrl">
    <section class="mainSection container">
        <img class="mobile" src="/static/img/landing/cafe-picture.png" alt="نرم‌افزار مدیریت کافه" width="260px">
        <div>
            <img class="desktop" src="/static/img/landing/namak-phrase@2x.png" alt="نرم‌افزار مدیریت کافه" width="400px">
            <h1>نمک؛</h1>
            <p class="subTitle mobile">نرم افزار مدیریت کافه</p>
            <p class="subTitle backgroundWrapper">حواسمون به کسب و کارتون هست</p>
            <ul class="namakList">
                <li>لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی با
                </li>
                <li>لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی با
                </li>
                <li>لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی با
                </li>
                <li>لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی با
                </li>
            </ul>
            <button class="btn namakBlueButton namakBigButton">مشاهده دمو نرم افزار</button>
        </div>
        <img class="desktop cafeManImage" src="/static/img/landing/136B67FE-8EFB-4A44-AEDA-1FBB8D3FF7F5.png"
            alt="نرم‌افزار مدیریت کافه" width="60%">
        <img class="desktop screenShotImage" src="/static/img/landing/Screenshot (753)@2x.png" alt="نرم‌افزار مدیریت کافه">
    </section>
    <section class="proper container">
        <img class="mobile" src="/static/img/landing/monaseb.png" alt="">
        <img class="desktop" src="/static/img/landing/monaseb@2x.png" alt="">
        <div>
            <div class="textWrapper">
                <img src="/static/img/landing/local-cafe@2x.png" alt="نرم‌افزار مدیریت کافه" width="100%">
                <h2>کافه ها</h2>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها
                    و
                    متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای ش</p>
            </div>
            <img class="mobile" src="/static/img/landing/va.png" alt="">
            <div class="textWrapper">
                <img src="/static/img/landing/board@2x.png" alt="نرم‌افزار مدیریت کافه" width="100%">
                <h2>کافه بازی ها</h2>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها
                    و
                    متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای ش</p>
            </div>
        </div>
    </section>
    <section class="features container">
        <img class="desktop" src="/static/img/landing/vizhegi@2x.png" alt="">
        <img class="mobile" src="/static/img/landing/vizhegi.png" alt="">
        <div>
            <div class="nav nav-tabs buttonsWrapper" id="nav-tab" role="tablist">
                <a href="#sales" class="active" id="sales-tab" data-toggle="tab" role="tab" aria-controls="sales"
                    aria-selected="true">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>فروش سالن</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#employees" id="employees-tab" data-toggle="tab" role="tab" aria-controls="employees"
                    aria-selected="false">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>فروش سالن</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>فروش سالن</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>فروش سالن</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>فروش سالن</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>فروش سالن</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>فروش سالن</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
                <a href="#">
                    <div>
                        <i class="fas fa-coffee"></i>
                        <span>فروش سالن</span>
                    </div>
                    <span class="desktop">فروش محصولات کافه ای و منو</span>
                </a>
            </div>
            <div class="tab-content namakFeaturesTabContentWrapper">
                <div class="tab-pane fade show active" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                    <div>
                        <div>
                            <h3>
                                <i class="fas fa-credit-card"></i>
                                <span>فروش سالن</span>
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                                چاپگرها
                                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                                مورد
                                نیاز، و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                                گذشته
                                حال
                                و
                            </p>
                        </div>
                        <img class="mobile" src="/static/img/landing/salon.png" alt="" width="100%">
                        <img class="desktop" src="/static/img/landing/salon@2x.png" alt="" width="50%">
                    </div>
                </div>
                <div class="tab-pane fade" id="employees" role="tabpanel" aria-labelledby="employees-tab">
                    <div>
                        <div>
                            <h3>
                                <i class="fas fa-credit-card"></i>
                                <span>فروش سالن</span>
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                                چاپگرها
                                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                                مورد
                                نیاز، و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                                گذشته
                                حال
                                و
                            </p>
                        </div>
                        <img class="desktop" src="/static/img/landing/IMG_0807@2x.png" alt="" width="50%">
                        <img class="mobile" src="/static/img/landing/IMG_0807.png" alt="" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="whyNamak container">
        <img class="mobile" src="/static/img/landing/chera.png" alt="">
        <img class="desktop" src="/static/img/landing/chera@2x.png" alt="">
        <div>
            <div class="whyNamakCard">
                <img src="/static/img/landing/abr.png" alt="">
                <h3>تحت وب</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                    و
                </p>
            </div>
            <div class="whyNamakCard">
                <img src="/static/img/landing/arzn.png" alt="">
                <h3>تحت وب</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                    و
                </p>
            </div>
        </div>
        <div>
            <div class="whyNamakCard">
                <img src="/static/img/landing/shobe.png" alt="">
                <h3>تحت وب</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                    و
                </p>
            </div>
            <div class="whyNamakCard">
                <img src="/static/img/landing/hooshmand.png" alt="">
                <h3>تحت وب</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                    و
                </p>
            </div>
            <div class="whyNamakCard">
                <img src="/static/img/landing/support.png" alt="">
                <h3>تحت وب</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                    و
                </p>
            </div>
        </div>
    </section>
    <section class="education container">
        <img class="desktop" src="/static/img/landing/amoozesh@2x.png" alt="" width="20%">
        <img class="mobile" src="/static/img/landing/amoozesh.png" alt="" width="40%">
        <div>
            <img class="desktop" src="/static/img/landing/amoozeshPic@2x.png" alt="" width="100%">
            <img class="mobile" src="/static/img/landing/amoozeshPic.png" alt="" width="100%">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                چاپگرها
                و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                نیاز، و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                و
            </p>
        </div>
    </section>
    <section class="testimonials container">
        <img class="desktop" src="/static/img/landing/etemad.com@2x.png" alt="" width="40%">
        <img class="mobile" src="/static/img/landing/etemad.com.png" alt="" width="80%">
        <div>
            <div>
                <img class="desktop" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082" alt="">
                <img class="mobile" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082" alt="">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                    و
                </p>
            </div>
            <div>
                <img class="desktop" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082" alt="">
                <img class="mobile" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082" alt="">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                    و
                </p>
            </div>
            <div>
                <img class="desktop" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082" alt="">
                <img class="mobile" src="https://www.warringal.net.au/images/sams_choice_logo_2.png?crc=3945908082" alt="">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                    و
                </p>
            </div>
        </div>
    </section>
    <footer class="namakFooter">
        <div class="footerEnd">
            <div class="rights">
                <small>
                    نمک، نرم‌افزار مثلا آزاد ( ما در دوولپمنت هستیم )
                </small>
            </div>
        </div>
    </footer>
</main>