<div ng-controller="boardgameCtrl">
    <div class="modal fade mainModal" id="addBoardgameModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت بوردگیم جدید</h2>
                    <a class="mainButton redButton closeModal" ng-click="closeForm()"  aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <button ng-disabled="adding_boardgame" ng-click="addBoardgame()" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</button>
                    <a ng-click="resetFrom()" href=""  class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن صفحه</a>
                </div>
                <div class="modal-body">
                    <form>
                        <h3>اطلاعات بوردگیمی</h3>
                        <div class="row">
                            <div class="col">
                                <label>نام بوردگیم<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_boardgame_data.name" type="text" aria-label="First name"
                                       class="form-control" placeholder="نام بوردگیم">
                            </div>
                            <div class="col">
                                <label>کمترین تعداد نفرات<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_boardgame_data.min_players" type="text"
                                       aria-label="Last name"
                                       class="form-control" placeholder="کمترین تعداد نفرات">
                            </div>
                            <div class="col">
                                <label>بیشترین تعداد نفرات<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_boardgame_data.max_players" type="text"
                                       aria-label="Last name"
                                       class="form-control" placeholder="بیشترین تعداد نفرات">
                            </div>
                            <div class="col">
                                <label>بهترین تعداد نفرات<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_boardgame_data.best_players" type="text"
                                       aria-label="Last name"
                                       class="form-control" placeholder="بهترین تعداد نفرات">
                            </div>
                            <div class="col">
                                <label>دسته‌بندی<i class="fas fa-star-of-life"></i></label>
                                <select ng-model="new_boardgame_data.category" class="form-control" id="sel1">
                                    <option ng-selected="1">دسته‌بندی</option>
                                    <option ng-selected="new_boardgame_data.category === 'LIGHT'" value="LIGHT">
                                        استراتژی سبک
                                    </option>
                                    <option ng-selected="new_boardgame_data.category === 'HEAVY'" value="HEAVY">
                                        استراتژی سنگین
                                    </option>
                                    <option ng-selected="new_boardgame_data.category === 'ABSTRACT'" value="ABSTRACT">
                                        استراتژی انتزاعی
                                    </option>
                                    <option ng-selected="new_boardgame_data.category === 'FAMILY'" value="FAMILY">
                                        مهمانی و خانوادگی
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>زمان یادگیری ( دقیقه )<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_boardgame_data.learning_time" type="text" aria-label="First name"
                                       class="form-control" placeholder="زمان یادگیری">
                            </div>
                            <div class="col">
                                <label>مدت زمان بازی ( دقیقه )<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_boardgame_data.duration" type="text"
                                       aria-label="Last name"
                                       class="form-control" placeholder="مدت زمان بازی">
                            </div>
                            <div class="col">
                                <label>کد بی جی جی<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_boardgame_data.bgg_code" type="text"
                                       aria-label="Last name"
                                       class="form-control" placeholder="کد بی جی جی">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>توضیحات</label>
                                <textarea style="font-family: 13px;" ng-model="new_boardgame_data.description"
                                          class="form-control" placeholder="توضیحات"></textarea>
                            </div>
                        </div>
                        <div style="margin-top: 40px" class="row">
                            <div class="col">
                                <label for="formControlRange">رتبه‌بندی ( {{ new_boardgame_data.rate | persianNumber }} )<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_boardgame_data.rate" min="1" max="5" value="1" type="range"
                                       class="form-control-range"
                                       id="formControlRange">
                            </div>
                            <div class="col">
                                <label>تصویر بردگیم<i class="fas fa-star-of-life"></i></label>
                                <div class="custom-file">
                                    <input onchange="angular.element(this).scope().FileChange()"
                                           ng-model="new_boardgame_data.image_name" type="file"
                                           class="custom-file-input" id="customFile">
                                    <label style="direction: ltr;text-align: left" class="custom-file-label"
                                           for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pageSubMenu">
        <nav class=" nav nav-justified">
            <a href="" class="nav-link active">بازی‌ها</a>
        </nav>
    </div>
    <main class="pageContent container-fluid">
        <div class="row userPageContent">
            <main class="col-sm-12 ">
                <div class="tableButtons clearfix">
                    <input ng-keyup="searchBoardgame()" ng-model="search_data_boardgame.search_word"
                           class="form-control listFilter" type="search" placeholder="فیلتر کن">
                    <a class="addUser mainButton greenButton" ng-click="openAddBoardgameModal()" data-toggle="modal"><i
                            class="fas fa-user-plus"></i> بوردگیم جدید</a>
                </div>
                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">نام بازی</th>
                            <th scope="col">دسته‌بندی بازی</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bg in boardgames">
                            <th scope="row">{{ bg.name }}</th>
                            <th scope="row">{{ bg.category }}</th>
                            <td><a ng-click="editBoardgame(bg.id)" href="" class="mainButton fullWidthButton smallButton grayButton">ویرایش</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </main>


        </div>
    </main>
</div>
