<div ng-controller="employeeCtrl" class="row userPageContent">
    <aside class="col-sm-5">
        <a class="addUser" ui-sref=".addEmployee"><i class="fas fa-user-plus"></i> کارمند جدید</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">نام خانوادگی</th>
                <th scope="col">سمت</th>
                <th scope="col">دسترسی</th>
                <th scope="col">تغییرات شیفت</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in employees">
                <th scope="row">{{ employee.last_name }}</th>
                <td>{{ employee.position }}</td>
                <td>{{ employee.auth_lvl | persianNumber }}</td>
                <td><i class="fas fa-arrow-alt-circle-up overTime"></i><i
                        class="fas fa-arrow-alt-circle-down abscense"></i><i
                        class="fas fa-arrow-alt-circle-down abscense"></i></td>
                <td><a href="" ><i class="fas fa-user-cog"></i></a></td>
            </tr>
            </tbody>
        </table>
    </aside>
    <main class="col-sm-7">
        <ui-view></ui-view>
    </main>
</div>