<div ng-controller="branchCtrl">
    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal" id="addBranchModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت شعبه جدید</h2>
                    <a class="mainButton redButton closeModal" ng-click="closeForm()" alt="" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="addBranch()" href="" alt="" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-click="resetFrom()" href="" alt="" class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن صفحه</a>
                </div>
                <div class="modal-body">
                    <form>
                        <h3>اطلاعات شعبه</h3>
                        <div class="row">
                            <div class="col">
                                <label>نام شعبه<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_branch_data.name" type="text"
                                       class="form-control" placeholder="نام شعبه">
                            </div>
                            <div class="col">
                                <label>ساعت شروع کاری<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_branch_data.start_time" type="text"
                                       class="form-control" placeholder="ساعت شروع کاری">
                            </div>
                            <div class="col">
                                <label>ساعت پایان کاری<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_branch_data.end_time" type="text"
                                       class="form-control" placeholder="ساعت پایان کاری">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>آدرس<i class="fas fa-star-of-life"></i></label>
                                <textarea style="font-size: 13px;font-weight: 100;"
                                          ng-model="new_branch_data.address"
                                          class="form-control" placeholder="آدرس"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <main class="pageContent container-fluid">
        <div class="row userPageContent">
            <main class="col-sm-12 ">
                <div class="tableButtons clearfix">
                    <input ng-keyup="searchBranch()" ng-model="search_data_branch.search_word"
                           class="form-control listFilter" type="search" placeholder="فیلتر کن">
                    <a class="addUser mainButton greenButton" ng-click="openAddBranchModal()" data-toggle="modal"><i
                            class="fas fa-user-plus"></i> شعبه جدید</a>
                </div>
                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">نام شعبه</th>
                            <th scope="col">ساعت شروع کاری</th>
                            <th scope="col">ساعت پایان کاری</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="branch in branches">
                            <th scope="row">{{ branch.name }}</th>
                            <th scope="row">{{ branch.start_time | persianNumber }}</th>
                            <th scope="row">{{ branch.end_time | persianNumber }}</th>
                            <td><a ng-click="editBranch(branch.id)" href="" alt=""><i
                                    class="fas fa-user-cog"></i></a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <nav ng-hide="1" aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <span class="page-link">قبلی</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">۱</a></li>
                        <li class="page-item active">
                                            <span class="page-link">
                                                ۲
                                                <span class="sr-only">(current)</span>
                                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">۳</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">بعدی</a>
                        </li>
                    </ul>
                </nav>

            </main>


        </div>
    </main>
</div>
