<main ng-controller="statusCtrl" class="pageContent container-fluid">
    <div style="height: 119px" class="modal fade mainModal alertModal redAlertModal" id="closeInvoicePermissionModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">تایید بستن صندوق</h2>
                    <a ng-click="close_cash()" href="" class="mainButton greenButton"> بله</a>
                    <a ng-click="closePermissionModal()" href="" class="mainButton redButton"> خیر</a>
                </div>
                <div class="modal-body">
                    <p style="margin: 5px 15px 0 0"> آیا اطمینان به بستن صندوق دارید؟ شما به طور خودکار خارج خواهید
                        شد.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row saloonPageContent">
        <main class="col-sm-12 ">
            <div class="tableButtons clearfix">
                <a ng-click="openPermissionModal()" class="addUser mainButton greenButton" href="" data-toggle="modal"><i
                        class="far fa-calendar-check"></i> ثبت اطلاعات روزانه</a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>گزارش فروش</h3>
                        <div class="tableWrapper">
                            <table class="cashTable">
                                <tbody>
                                <tr>
                                    <td class="mainValue">
                                        <h4><i class="fas fa-cash-register"></i> کل فروش</h4>
                                        <span class="">{{ status.all_sales_price | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                    <td>
                                        <h4><i class="fas fa-money-bill"></i> نقد</h4>
                                        <span class="">{{ status.all_cash | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                    <td>
                                        <h4><i class="far fa-credit-card"></i> کارت‌خوان</h4>
                                        <span class="">{{ status.all_pos | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                    <td>
                                        <h4><i class="fas fa-users"></i> تعداد مهمانان</h4>
                                        <span class="">{{ status.all_guests | persianNumber }}</span>
                                        <small>نفر</small>
                                    </td>
                                    <td>
                                        <h4><i class="fas fa-file-invoice-dollar"></i> مالیات</h4>
                                        <span class="">{{ status.all_tax | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                    <td>
                                        <h4><i class="fas fa-hand-holding-usd"></i> انعام</h4>
                                        <span class="">{{ status.all_tip | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                    <td>
                                        <h4><i class="fas fa-file-invoice"></i> تخفیف</h4>
                                        <span class="">{{ status.all_discount | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h3>گزارش تفکیکی</h3>
                        <div class="tableWrapper">
                            <table class="cashTable">
                                <tbody>
                                <tr>
                                    <td class="">
                                        <h4><i class="fas fa-coffee"></i> فروش بار</h4>
                                        <span class="">{{ status.all_bar | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                    <td>
                                        <h4><i class="fas fa-utensils"></i> فروش آشپزخانه</h4>
                                        <span class="">{{ status.all_kitchen | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                    <td>
                                        <h4><i class="fas fa-file-invoice-dollar"></i>فروش سایر</h4>
                                        <span class="">{{ status.all_other | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                    <td>
                                        <h4><i class="fas fa-chess-rook"></i> هزینه بازی</h4>
                                        <span class="">{{ status.all_games | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                    <td>
                                        <h4><i class="fas fa-chess-rook"></i> فروش فروشگاهی</h4>
                                        <span class="">{{ status.all_sales | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tableWrapper">
                            <table class="cashTable">
                                <tbody>
                                <tr>
                                    <td>
                                        <h4><i class="fas fa-shopping-basket"></i> خرید</h4>
                                        <span class="">{{ status.all_purchase | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                    <td>
                                        <h4><i class="fas fa-hammer"></i> هزینه</h4>
                                        <span class="">{{ status.all_expense | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                    <td>
                                        <h4><i class="fas fa-file-invoice-dollar"></i> پرداختی</h4>
                                        <span class="">{{ status.all_pays | number | persianNumber }}</span>
                                        <small>ریال</small>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</main>