<div ng-controller="expenseCtrl">
    <div class="modal fade mainModal alertModal redAlertModal" id="closeInvoicePermissionModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">تایید خروج از فاکتور</h2>
                    <a ng-click="closeAddModal()" href="" class="mainButton greenButton"> بله</a>
                    <a ng-click="closePermissionModal()" href="" class="mainButton redButton"> خیر</a>
                </div>
                <div class="modal-body">
                    <p style="margin: 5px 15px 0 0"> آیا اطمینان به خروج دارید؟ تمام اطلاعات ذخیره نشده شما از بین
                        می‌رود.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal" id="addModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">فاکتور هزینه </h2>
                    <a ng-click="openPermissionModal()" class="mainButton redButton" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-hide="read_only_mode" href="" ng-click="addExpense()" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-hide="read_only_mode" href="" ng-click="save_and_open_modal();"
                       class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت و جدید</a>
                    <a ng-click="resetFrom()" href="" class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن صفحه</a>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <table class="invoiceTable">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <small>شماره فاکتور</small>
                                            <a href=""
                                               class="">{{ new_invoice_expense_data.factor_number | persianNumber }}</a>
                                        </td>
                                        <td>
                                            <small>تاریخ فاکتور</small>
                                            <input ng-model="new_invoice_expense_data.date" id="datepicker"
                                                   class="form-control listFilter tableLefty" placeholder="تاریخ"
                                                   type="text">
                                        </td>
                                        <td>
                                            <small>نوع پرداخت</small>
                                            <select ng-model="new_invoice_expense_data.settlement_type"
                                                    class="form-control">
                                                <option value="CASH">نقدی</option>
                                                <option value="CREDIT">اعتباری</option>
                                            </select>
                                        </td>
                                        <td>
                                            <small>تامین کننده</small>
                                            <select ng-model="new_invoice_expense_data.supplier_id"
                                                    class="form-control">
                                                <option ng-repeat="supplier in suppliers"
                                                        value="{{ supplier.id }}"
                                                        ng-selected="supplier.name === 'سایر'">{{ supplier.name }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <small>دسته‌بندی</small>
                                            <select ng-model="new_invoice_expense_data.expense_kind"
                                                    class="form-control">
                                                <option value="JARI_MASRAFI">جاری مصرفی</option>
                                                <option value="JARI_NOT_MASRAFI">جاری غیر مصرفی</option>
                                                <option value="NOT_JARI_MASRAFI">غیر جاری مصرفی</option>
                                                <option value="NOT_JARI_NOT_MASRAFI">غیر جاری غیر مصرفی</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="invoiceTable">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <small>تگ‌های هزینه</small>
                                            <tags-input ng-model="tags" display-property="name"
                                                        placeholder="تگ خود را اضافه کنید." replace-spaces-with-dashes="false">
                                                <auto-complete source="loadTags($query)"
                                                               min-length="0"
                                                               load-on-focus="true"
                                                               load-on-empty="true"
                                                               max-results-to-show="32"></auto-complete>
                                            </tags-input>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="invoiceTable invoiceItem">
                                    <tbody>
                                    <tr>
                                        <th class="first"><input type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <th class="first">#</th>
                                        <th style="width: 30%" class="second">عنوان</th>
                                        <th class="fifth">قیمت کل</th>
                                        <th style="width: 25%;" class="sixth">توضیحات</th>
                                    </tr>
                                    <tr ng-repeat="service in new_invoice_expense_data.services">
                                        <th class="first"><a ng-click="deleteNewItem($index)" style="cursor: pointer"><i
                                                class="fas fa-trash"></i></a></th>
                                        <td>{{ $index + 1 | persianNumber }}</td>
                                        <td><input class="form-control" type="text"
                                                   ng-model="service.service_name"></td>
                                        <td><input ng-change="change_total_price()" style="font-family: 'B Yekan'"
                                                   class="form-control" type="text"
                                                   ng-model="service.price" format></td>
                                        <td><input class="form-control" type="text" ng-maxlength="60"
                                                   ng-model="service.description"></td>
                                    </tr>

                                    </tbody>
                                </table>
                                <a ng-click="add_new_row_to_services()" href="" class="mainButton grayButton"><i
                                        class="fas fa-eraser"></i>
                                    اضافه کردن سطر جدید</a>
                                <table class="invoiceTable invoiceTotal">
                                    <tbody>
                                    <tr>
                                        <th>تخفیف</th>
                                        <td>{{ 0 | number:fractionSize | persianNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>مالیات</th>
                                        <td>{{ 0 | number:fractionSize | persianNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>جمع کل</th>
                                        <td>
                                            {{ new_invoice_expense_data.total_price | number:fractionSize | persianNumber }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </main>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="pageContent container-fluid">
        <div class="tableButtons clearfix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">هزینه‌ها</li>
                </ol>
            </nav>
            <a ng-click="openAddModal();getNextFactorNumber('EXPENSE')" href=""
               class="mainButton greenButton tableLefty">هزینه جدید</a>
            <input ng-keyup="searchExpense()" ng-model="search_data_expense.search_word"
                   class="form-control listFilter tableLefty" type="search" placeholder="فیلتر کن">
        </div>
        <div class="row userPageContent">
            <main class="col-sm-12 ">

                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">شماره فاکتور</th>
                            <th scope="col">تامین‌کننده</th>
                            <th scope="col">دسته‌بندی</th>
                            <th scope="col">نوع پرداخت</th>
                            <th scope="col">قیمت</th>
                            <th scope="col">تاریخ</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="expense in expenses">
                            <th scope="row">{{ expense.factor_number | persianNumber }}</th>
                            <th scope="row">{{ expense.supplier_name }}</th>
                            <th scope="row">{{ expense.expense_category }}</th>
                            <th scope="row">{{ expense.settlement_type }}</th>
                            <td>{{ expense.total_price | number | persianNumber }} ریال</td>
                            <td>{{ expense.date | persianNumber }}</td>
                            <td><a ng-click="delete_invoice_expense(expense.id)" href=""
                                   class="mainButton fullWidthButton smallButton grayButton">حذف</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </main>


        </div>
    </main>
</div>