<div ng-controller="salonCtrl">
    <div class="modal fade mainModal alertModal redAlertModal" id="deleteItemsModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ویرایش فاکتور</h2>
                    <a ng-click="closeDeleteModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="delete_items()" href="" class="mainButton greenButton"><i class="fas fa-save"></i> ثبت</a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">دلیل حذف یا تغییر جزییات فاکتور را توضیح دهید</span>
                                <label>توضیحات</label>
                                <form>
                                    <div class="form-group">
                                        <textarea ng-model="will_delete_items.message" class="form-control"
                                                  rows="3"></textarea>
                                    </div>
                                </form>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal" id="payModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">انتخاب نوع پرداخت</h2>
                    <a ng-click="closePayModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a href="" ng-click="settleInvoice()" class="mainButton greenButton"><i class="fas fa-save"></i> ثبت</a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <form>
                                    <label class="lefty iconic">نقد<i class="fas fa-money-bill-alt"></i></label>
                                    <label class="righty iconic"><i class="fas fa-credit-card"></i>کارت‌خوان</label>
                                    <input ng-change="payModalChangeNumber()" type="range" class="form-control-range"
                                           ng-model="new_invoice_data.cash" min="0"
                                           max="{{ new_invoice_data.total_price }}" step="5000">
                                    <input style="font-family: 'B Yekan'" disabled type="text" aria-label="pos"
                                           class="form-control paymentMethod righty"
                                           ng-model="new_invoice_data.card" format>
                                    <input style="font-family: 'B Yekan'" ng-change="payModalChangeNumber()" type="text" aria-label="cash"
                                           class="form-control paymentMethod lefty"
                                           ng-model="new_invoice_data.cash" format>
                                </form>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal redAlertModal" id="closeInvoicePermissionModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">تایید خروج از فاکتور</h2>
                    <a ng-click="closeAddInvoiceModal()" href="" class="mainButton greenButton"> بله</a>
                    <a ng-click="closePermissionModal()" href="" class="mainButton redButton"> خیر</a>
                </div>
                <div class="modal-body">
<p style="margin: 5px 15px 0 0">                   آیا اطمینان به خروج دارید؟ تمام اطلاعات ذخیره نشده شما از بین می‌رود.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal redAlertModal" id="timeCalcModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">محاسبه موقت زمان بازی</h2>
                    <a ng-click="closeTimeCalcModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ calcedPoints | number | persianNumber }} ریال</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal" id="addInvoiceModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">فاکتور فروش </h2>
                    <a ng-click="openPermissionModal()" class="mainButton redButton" href="" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="openPayModal()" href="" class="mainButton greenButton"><i
                            class="fas fa-dollar-sign"></i> تسویه</a>
                    <a href="" class="mainButton yellowButton"><i class="fas fa-cash-register"></i> چاپ مشتری</a>
                    <a href="" class="mainButton blueButton"><i class="fas fa-print"></i> چاپ سفارش</a>
                    <a href="" class="mainButton grayButton"><i class="fas fa-cut"></i> تفکیک فاکتور</a>
                    <a href="" ng-click="openDeleteModal()" class="mainButton grayButton"><i class="fas fa-trash"></i>
                        پاک کردن</a>
                    <a href="" ng-click="saveInvoice()" class="mainButton grayButton"><i class="fas fa-save"></i> ذخیره</a>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <aside class="col-sm-2">
                                <input ng-show="current_menu_nav === 'MENU'" ng-keyup="searchMenuItem()"
                                       ng-model="search_data_menu_item.search_word"
                                       class="form-control listFilter" type="text" placeholder="فیلتر کن">
                                <input ng-show="current_menu_nav === 'SHOP'" ng-keyup="search_shop_products()"
                                       ng-model="search_data_shop_products.search_word"
                                       class="form-control listFilter" type="text" placeholder="فیلتر کن">
                                <nav class=" nav nav-justified">
                                    <a ng-click="changeMenuNav('MENU')" href=""
                                       ng-class="current_menu_nav === 'MENU' ? 'nav-link iconButton active' : 'nav-link iconButton'"><i
                                            class="fas fa-bars"></i></a>
                                    <a ng-click="changeMenuNav('SHOP')" href=""
                                       ng-class="current_menu_nav === 'SHOP' ? 'nav-link iconButton active' : 'nav-link iconButton'"><i
                                            class="fas fa-star"></i></a>
                                </nav>
                                <nav class=" nav flex-column cafeMenuNav">
                                    <ul>
                                        <div ng-hide="search_data_menu_item.search_word" class="accordion">
                                            <li ng-show="current_menu_nav === 'MENU'"
                                                ng-repeat="category in menu_items_with_categories" class="nav-item">
                                                <a style="cursor: pointer" ng-click="showCollapse($index)"
                                                   class="nav-link" data-toggle="collapse"
                                                   aria-controls="menuNavCollapse
                                                           {{ $index }}">{{ category.category_name }}</a>
                                                <ul id="menuNavCollapse{{ $index }}" class="collapse">
                                                    <li ng-repeat="item in category.items">
                                                        <a ng-click="add_item(item.id, item.name, item.price)" href=""
                                                           class="nav-link">{{ item.name }}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li ng-show="current_menu_nav === 'SHOP'" ng-repeat="shop in shop_products">
                                                <a ng-click="add_item_shop(shop.id, shop.name, shop.price)"
                                                   style="cursor: copy;" href=""
                                                   class="nav-link">{{ shop.name }}
                                                    ({{ shop.real_numbers | persianNumber }}) </a>
                                            </li>
                                        </div>
                                        <div ng-show="search_data_menu_item.search_word" class="accordion">
                                            <li ng-show="current_menu_nav === 'MENU'"
                                                ng-repeat="menu_item in menu_items">
                                                <a style="cursor: copy;" href=""
                                                   ng-click="add_item(menu_item.id, menu_item.name, menu_item.price)"
                                                   class="nav-link">{{ menu_item.name }}</a>
                                            </li>
                                            <li ng-show="current_menu_nav === 'SHOP'" ng-repeat="shop in shop_products">
                                                <a ng-click="add_item_shop(shop.id, shop.name, shop.price)"
                                                   style="cursor: copy;" href=""
                                                   class="nav-link">{{ shop.name }}
                                                    ({{ shop.real_numbers | persianNumber }}) </a>
                                            </li>
                                        </div>
                                    </ul>
                                </nav>

                            </aside>
                            <main class="col-sm-10">
                                <table class="invoiceTable">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <small>شماره فاکتور</small>
                                            <a href=""
                                               class="">{{ new_invoice_data.invoice_sales_id | persianNumber }}</a>
                                        </td>
                                        <td>
                                            <small>میز<i class="fas fa-star-of-life"></i></small>
                                            <select ng-model="new_invoice_data.table_id" class="form-control">
                                                <option ng-repeat="table in tables"
                                                        value="{{ table.table_id }}"
                                                        ng-selected="table.table_id == new_invoice_data.table_id">{{ table.table_name }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <small>مهمان</small>
                                            <input class="form-control" type="text"
                                                   ng-model="new_invoice_data.member_data"
                                                   ng-enter="get_member_data(new_invoice_data.member_data)" select-on-click>
                                        </td>
                                        <td>
                                            <small>تعداد مهمانان</small>
                                            <input class="form-control" type="number" min="0"
                                                   ng-model="new_invoice_data.guest_numbers">
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                                <table class="invoiceTable">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <input ng-disabled="new_invoice_data.current_game.start_time"
                                                   ng-model="new_invoice_data.current_game.numbers" type="number" min="0"
                                                   class="form-control" placeholder="تعداد نفرات بازی"
                                                   aria-label="">

                                        </td>
                                        <td>
                                            <a ng-show="new_invoice_data.current_game.start_time" href=""
                                               class="">{{ new_invoice_data.current_game.start_time | persianNumber }}</a>
                                            <button ng-click="start_game()"
                                                   ng-disabled="new_invoice_data.current_game.numbers === 0"
                                                   ng-show="!new_invoice_data.current_game.start_time" href=""
                                                    class="mainButton grayButton">شروع زمان بازی</button>
                                        </td>
                                        <td>
                                            <button ng-click="endCurrentGame(new_invoice_data.current_game.id)"
                                                    ng-disabled="new_invoice_data.current_game.start_time === ''"
                                                    href="" class="mainButton grayButton">اتمام زمان بازی</button>
                                        </td>
                                        <td>
                                            <button ng-click="openTimeCalcModal()" ng-disabled="new_invoice_data.current_game.start_time === ''"
                                                    class="mainButton grayButton">محاسبه موقت</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="invoiceTable invoiceItem">
                                    <tbody>
                                    <tr>
                                        <th class="first"><input type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <th class="first">#</th>
                                        <th class="second">عنوان</th>
                                        <th class="third">قیمت واحد</th>
                                        <th class="forth">تعداد</th>
                                        <th class="fifth">قیمت کل</th>
                                        <th class="sixth">توضیحات</th>
                                    </tr>
                                    <tr ng-repeat="old_item in new_invoice_data.menu_items_old">
                                        <th class="first"><input ng-click="will_delete_items_adder('menu', old_item.id)"
                                                                 type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <td>{{ $index | persianNumber }}</td>
                                        <td>{{ old_item.name }}</td>
                                        <td>{{ old_item.price | number:fractionSize | persianNumber }}</td>
                                        <td>{{ old_item.nums | persianNumber }}</td>
                                        <td>{{ old_item.total | persianNumber }}</td>
                                        <td>{{ old_item.description }}</td>
                                    </tr>
                                    <tr ng-repeat="new_item in new_invoice_data.menu_items_new">
                                        <th class="first"><a ng-click="deleteNewItem($index)" style="cursor: pointer"><i
                                                class="fas fa-trash"></i></a></th>
                                        <td>{{ $index | persianNumber }}</td>
                                        <td>{{ new_item.name }}</td>
                                        <td>{{ new_item.price | number:fractionSize | persianNumber }}</td>
                                        <td><input class="form-control" type="number" min="0" ng-model="new_item.nums"
                                                   ng-change="changeItemNumber($index)"></td>
                                        <td>{{ new_item.total | number | persianNumber }}</td>
                                        <td><input class="form-control" type="text" ng-maxlength="60"
                                                   ng-model="new_item.description"></td>
                                    </tr>

                                    <tr ng-repeat="old_item in new_invoice_data.shop_items_old">
                                        <th class="first"><input ng-click="will_delete_items_adder('shop', old_item.id)"
                                                                 type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <td>{{ $index + 1 | persianNumber }}</td>
                                        <td>{{ old_item.name }}</td>
                                        <td>{{ old_item.price | number:fractionSize | persianNumber }}</td>
                                        <td>{{ old_item.nums | persianNumber }}</td>
                                        <td>{{ old_item.total | persianNumber }}</td>
                                        <td>{{ old_item.description }}</td>
                                    </tr>
                                    <tr ng-repeat="new_item in new_invoice_data.shop_items_new">
                                        <th class="first"><a ng-click="deleteNewItemShop($index)"
                                                             style="cursor: pointer"><i class="fas fa-trash"></i></a>
                                        </th>
                                        <td>{{ $index | persianNumber }}</td>
                                        <td>{{ new_item.name }}</td>
                                        <td>{{ new_item.price | number:fractionSize | persianNumber }}</td>
                                        <td><input class="form-control" type="number" min="0" ng-model="new_item.nums"
                                                   ng-change="changeItemShopNumber($index)"></td>
                                        <td>{{ new_item.total | persianNumber }}</td>
                                        <td><input class="form-control" type="text" ng-maxlength="60"
                                                   ng-model="new_item.description"></td>
                                    </tr>

                                    <tr ng-repeat="game in new_invoice_data.games">
                                        <th class="first"><input ng-click="will_delete_items_adder('game', game.id)"
                                                                 type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <td>{{ $index | persianNumber }}</td>
                                        <td>بازی {{ game.numbers | persianNumber }} نفره</td>
                                        <td>{{ game.numbers * 80000 | number | persianNumber }}</td>
                                        <td  style="direction: ltr">{{ game.points | persianNumber }}</td>
                                        <td>{{ game.total | number | persianNumber }}</td>
                                        <td></td>
                                    </tr>


                                    </tbody>
                                </table>
                                <table class="invoiceTable invoiceTotal">
                                    <tbody>
                                    <tr>
                                        <th>اعتبار مصرفی</th>
                                        <td>{{ 0 | number:fractionSize | persianNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>اعتبار باقی‌مانده</th>
                                        <td>{{ 0 | number:fractionSize | persianNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>تخفیف</th>
                                        <td><input ng-model="new_invoice_data.discount" type="text" class="form-control"
                                                   aria-label="" format>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>جمع کل</th>
                                        <td>{{ new_invoice_data.total_price - new_invoice_data.discount | number:fractionSize | persianNumber }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </main>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal" id="viewInvoiceModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">فاکتور فروش </h2>
                    <a class="mainButton redButton" data-dismiss="modal" href="#" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <table class="invoiceTable invoiceItem">
                                    <tbody>
                                    <tr>
                                        <th class="first"><input type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <th class="first">#</th>
                                        <th class="second">عنوان</th>
                                        <th class="third">قیمت واحد</th>
                                        <th class="forth">تعداد</th>
                                        <th class="fifth">قیمت کل</th>
                                        <th class="sixth">توضیحات</th>
                                    </tr>
                                    <tr ng-repeat="old_item in new_invoice_data.menu_items_old">
                                        <th class="first"><input ng-click="will_delete_items_adder('menu', old_item.id)"
                                                                 type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <td>{{ $index | persianNumber }}</td>
                                        <td>{{ old_item.name }}</td>
                                        <td>{{ old_item.price | number:fractionSize | persianNumber }}</td>
                                        <td>{{ old_item.nums | persianNumber }}</td>
                                        <td>{{ old_item.total | number | persianNumber }}</td>
                                        <td>{{ old_item.description }}</td>
                                    </tr>
                                    <tr ng-repeat="new_item in new_invoice_data.menu_items_new">
                                        <th class="first"><a ng-click="deleteNewItem($index)" style="cursor: pointer"><i
                                                class="fas fa-trash"></i></a></th>
                                        <td>{{ $index | persianNumber }}</td>
                                        <td>{{ new_item.name }}</td>
                                        <td>{{ new_item.price | number:fractionSize | persianNumber }}</td>
                                        <td><input class="form-control" type="number" min="0" ng-model="new_item.nums"
                                                   ng-change="changeItemNumber($index)"></td>
                                        <td>{{ new_item.total | number | persianNumber }}</td>
                                        <td><input class="form-control" type="text" ng-maxlength="60"
                                                   ng-model="new_item.description"></td>
                                    </tr>

                                    <tr ng-repeat="old_item in new_invoice_data.shop_items_old">
                                        <th class="first"><input ng-click="will_delete_items_adder('shop', old_item.id)"
                                                                 type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <td>{{ $index + 1 | persianNumber }}</td>
                                        <td>{{ old_item.name }}</td>
                                        <td>{{ old_item.price | number:fractionSize | persianNumber }}</td>
                                        <td>{{ old_item.nums | persianNumber }}</td>
                                        <td>{{ old_item.total | persianNumber }}</td>
                                        <td>{{ old_item.description }}</td>
                                    </tr>
                                    <tr ng-repeat="new_item in new_invoice_data.shop_items_new">
                                        <th class="first"><a ng-click="deleteNewItemShop($index)"
                                                             style="cursor: pointer"><i class="fas fa-trash"></i></a>
                                        </th>
                                        <td>{{ $index | persianNumber }}</td>
                                        <td>{{ new_item.name }}</td>
                                        <td>{{ new_item.price | number:fractionSize | persianNumber }}</td>
                                        <td><input class="form-control" type="number" min="0" ng-model="new_item.nums"
                                                   ng-change="changeItemShopNumber($index)"></td>
                                        <td>{{ new_item.total | persianNumber }}</td>
                                        <td><input class="form-control" type="text" ng-maxlength="60"
                                                   ng-model="new_item.description"></td>
                                    </tr>

                                    <tr ng-repeat="game in new_invoice_data.games">
                                        <th class="first"><input ng-click="will_delete_items_adder('game', game.id)"
                                                                 type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <td>{{ $index | persianNumber }}</td>
                                        <td>بازی {{ game.numbers | persianNumber }} نفره</td>
                                        <td>{{ game.numbers * 80000 | number | persianNumber }}</td>
                                        <td  style="direction: ltr">{{ game.points | persianNumber }}</td>
                                        <td>{{ game.total | number | persianNumber }}</td>
                                        <td></td>
                                    </tr>


                                    </tbody>
                                </table>
                                <table class="invoiceTable invoiceTotal">
                                    <tbody>
                                    <tr>
                                        <th>اعتبار مصرفی</th>
                                        <td>{{ 0 | number:fractionSize | persianNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>اعتبار باقی‌مانده</th>
                                        <td>{{ 0 | number:fractionSize | persianNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>تخفیف</th>
                                        <td>{{ new_invoice_data.discount | number:fractionSize | persianNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>جمع کل</th>
                                        <td>{{ new_invoice_data.total_price - new_invoice_data.discount | number:fractionSize | persianNumber }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </main>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <main class="pageContent container-fluid">
        <div class="row userPageContent">
            <main class="col-sm-12 ">
                <div class="tableButtons clearfix">
                    <input class="form-control listFilter" type="search" placeholder="فیلتر کن">
                </div>
                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">نام مهمان</th>
                            <th scope="col">میز</th>
                            <th scope="col">مبلغ فاکتور</th>
                            <th scope="col">تعداد مهمانان</th>
                            <th scope="col">ساعت تسویه</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="invoice in all_today_invoices">
                            <th scope="row">{{ invoice.guest_name }}</th>
                            <td>{{ invoice.table_name }}</td>
                            <td>{{ invoice.total_price - invoice.discount | number:fractionSize | persianNumber }} ریال</td>
                            <td>{{ invoice.guest_nums | persianNumber }} نفر</td>
                            <td>{{ invoice.settle_time | persianNumber }}</td>
                            <td ng-hide="invoice.is_settled" ng-click="editInvoice(invoice.invoice_id)"><a href=""><i
                                    class="fas fa-user-cog"></i></a></td>
                            <td ng-show="invoice.is_settled" ng-click="showInvoice(invoice.invoice_id)"><a href=""><i
                                    class="fas fa-user-cog"></i></a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </main>


        </div>
    </main>
</div>