<div ng-controller="lotteryCtrl">
    <div class="modal fade mainModal" id="addLotteryModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت قرعه کشی جدید</h2>
                    <a class="mainButton redButton closeModal" ng-click="closeAddLotteryModal()" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="addLottery()" href="" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-click="resetFrom()" href="" class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن </a>
                </div>
                <div class="modal-body">
                    <form>
                        <h3>اطلاعات قرعه کشی</h3>
                        <div class="row">
                            <div class="col">
                                <label>تاریخ شروع<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_lottery_data.start_date" id="datepicker_start_lottery"
                                       class="form-control" placeholder="تاریخ شروع" type="text">
                            </div>
                            <div class="col">
                                <label>تاریخ پایان<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_lottery_data.end_date" id="datepicker_end_lottery"
                                       class="form-control" placeholder="تاریخ پایان" type="text">
                            </div>
                            <div class="col">
                                <label>نام جایزه<i class="fas fa-star-of-life"></i></label>
                                <input ng-required="$touched" ng-model="new_lottery_data.prize" type="text"
                                       class="form-control" placeholder="نام جایزه">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <main class="pageContent container-fluid">
        <div class="row userPageContent">
            <main class="col-sm-12 ">
                <div class="tableButtons clearfix">
                    <a class="addUser mainButton greenButton" ng-click="openAddLotteryModal()" data-toggle="modal"> قرعه کشی جدید</a>
                </div>
                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">نام مشتری</th>
                            <th scope="col">تاریخ شروع</th>
                            <th scope="col">تاریخ پایان</th>
                            <th scope="col">نام جایزه</th>
                            <th scope="col">وضعیت پرداخت</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="lottery in lotteries">
                            <th scope="row">{{ lottery.name }}</th>
                            <th scope="row">{{ lottery.start_date | persianNumber }}</th>
                            <th scope="row">{{ lottery.end_date | persianNumber }}</th>
                            <th scope="row">{{ lottery.prize }}</th>
                            <th scope="row">
                                <button ng-disabled="lottery.is_give" ng-click="give_prize(lottery.id)" href=""
                                        class="mainButton fullWidthButton smallButton grayButton"><span
                                        ng-show="lottery.is_give">داده شده</span><span ng-hide="lottery.is_give">داده نشده</span>
                                </button>
                            </th>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </main>


        </div>
    </main>
</div>