<div ng-controller="managerCtrl" class="pageSubMenu">
    <nav class=" nav">
        <a ui-sref="manager.addEmployee" ng-class="isActive('/manager/addEmployee') ? 'nav-link active' : 'nav-link'">کارمندان</a>
        <a ui-sref="manager.menuCategory"  ng-class="isActive('/manager/menuCategory') ? 'nav-link active' : 'nav-link'">دسته‌های منو</a>
        <a ui-sref="manager.menuItem"  ng-class="isActive('/manager/menuItem') ? 'nav-link active' : 'nav-link'">آیتم‌های منو</a>
        <a ui-sref="manager.printers"  ng-class="isActive('/manager/printers') ? 'nav-link active' : 'nav-link'">پرینترها</a>
        <a ui-sref="manager.tables"  ng-class="isActive('/manager/tables') ? 'nav-link active' : 'nav-link'">میز</a>
        <a ui-sref="manager.branch"  ng-class="isActive('/manager/branch') ? 'nav-link active' : 'nav-link'">شعبه‌ها</a>
		<a ui-sref="manager.banking"  ng-class="isActive('/manager/banking') ? 'nav-link active' : 'nav-link'">بانکداری</a>
        <a ui-sref="manager.stocks"  ng-class="isActive('/manager/stocks') ? 'nav-link active' : 'nav-link'">انبارداری</a>


    </nav>
</div>

<div class="preloader" ng-show="is_page_loading"></div>
<div ng-hide="is_page_loading">
    <ui-view></ui-view>
</div>