<div ng-controller="memberCtrl">
    <add-member-modal-directive></add-member-modal-directive>
    <main class="pageContent">
        <div class="tableButtons">
            <div class="buttonGroup">
                <a class="addUser mainButton greenButton" ng-click="open_modal('addMemberModal')" data-toggle="modal"><i
                        class="fas fa-user-plus"></i> مشتری جدید</a>
            </div>
            <div class="buttonGroup">
                <input ng-keyup="searchMember()" ng-model="serach_data_member.search_word"
                       class="form-control listFilter" type="search" placeholder="فیلتر کن">
            </div>
        </div>
        <table-directive headers="member_table_headers"
                         config="member_table_configs"
                         rows="members"
                         detail-callback="editMember(item_id);show_member_profile_data(item_id);change_nav_inside_modal('MEMBER_INFO');"
        ></table-directive>
    </main>
</div>