<div ng-controller="menuCtrl">
    <div data-backdrop="static" data-keyboard="false" class="modal fade mainModal" id="addMenuCategoryModal"
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت دسته‌بندی جدید</h2>
                    <a class="mainButton redButton" ng-click="close_modal('addMenuCategoryModal');resetFrom()" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="addMenuCategory()" href="" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-click="resetFrom()" href="" class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن </a>
                </div>
                <div class="modal-body">
                    <form>
                        <h3>اطلاعات دسته‌بندی</h3>
                        <div class="row">
                            <div class="col">
                                <label>نام دسته‌بندی<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_menu_category_data.name" type="text" aria-label="First name"
                                       class="form-control" placeholder="نام دسته‌بندی">
                            </div>
                            <div class="col">
                                <label>نوع دسته‌بندی<i class="fas fa-star-of-life"></i></label>
                                <select ng-model="new_menu_category_data.kind" class="form-control" id="sel1">
                                    <option value="">نوع دسته‌بندی</option>
                                    <option ng-selected="new_menu_category_data.kind === 'KITCHEN'" value="KITCHEN">
                                        آشپزخانه
                                    </option>
                                    <option ng-selected="new_menu_category_data.kind === 'BAR'" value="BAR">
                                        بار
                                    </option>
                                    <option ng-selected="new_menu_category_data.kind === 'OTHER'" value="OTHER">
                                        سایر
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div ng-repeat="printer in printers"
                                 class="checkbox-unit col">
                                <label class="checkbox-item">
                                    <input style="float: left;" ng-checked="printer.is_checked"
                                           ng-model="printer.is_checked_m"
                                           type="checkbox"
                                           ng-click="changePrinterCheckBox(is_checked, printer.printer_id)">پرینتر {{ printer.printer_name }}
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal redAlertModal" id="deleteConfirm" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">تایید حذف</h2>
                    <a ng-click="deleteMenuItem()" href="" class="mainButton greenButton"> بله</a>
                    <a ng-click="closeDeleteConfirmModal()" href="" class="mainButton redButton"> خیر</a>
                </div>
                <div class="modal-body">
                    <p style="margin: 5px 15px 0 0"> آیا اطمینان به حذف دارید؟ اطلاعات حذفی قابل بازیابی نخواهند
                        بود.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal" id="addMenuItemModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت آیتم جدید</h2>
                    <a ng-click="close_modal('closeAddMenuItemModal');resetFrom()" class="mainButton redButton"
                       data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="addMenuItem()" href="" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-click="resetFrom()" href="" class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن </a>
                </div>
                <div class="modal-body">
                    <form name="addMenuItemForm">
                        <h3>اطلاعات آیتم</h3>
                        <div class="row">
                            <div class="col">
                                <label>نام آیتم<i class="fas fa-star-of-life"></i></label>
                                <input name="name" ng-model="new_menu_item_data.name" type="text"
                                       class="form-control" placeholder="نام آیتم">
                            </div>
                            <div class="col">
                                <label>قیمت آیتم ( ریال )<i class="fas fa-star-of-life"></i></label>
                                <input name="price" ng-model="new_menu_item_data.price"
                                       type="text"
                                       class="form-control iranian-number" placeholder="قیمت آیتم" format>
                            </div>
                            <div class="col">
                                <label>دسته‌بندی آیتم<i class="fas fa-star-of-life"></i></label>
                                <select ng-model="new_menu_item_data.menu_category_id" class="form-control" id="sel1"
                                        ng-options="category.id as category.name for category in menu_categories">
                                    <option value="" selected>دسته‌بندی آیتم</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <main class="pageContent container-fluid">
        <div class="row userPageContent">
            <div class="col-md-6">
                <div class="row">
                    <main class="col-sm-12 ">
                        <div class="tableButtons">
                            <div class="buttonGroup">
                                <a class="addUser mainButton greenButton" ng-click="open_modal('addMenuItemModal')"
                                   data-toggle="modal"><i
                                        class="fas fa-user-plus"></i> آیتم جدید</a>
                            </div>
                            <div class="buttonGroup">
                                <form>
                                    <input ng-keyup="searchMenuItem()" ng-model="searach_data_menu_item.search_word"
                                           class="form-control listFilter" type="search" placeholder="فیلتر کن">
                                </form>
                            </div>
                        </div>
                        <div class="tableWrapper">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">نام آیتم</th>
                                    <th scope="col">قیمت</th>
                                    <th scope="col">دسته‌بندی</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in menu_items">
                                    <th scope="row">{{ item.name }}</th>
                                    <td class="priceField">{{ item.price | number | persianNumber }}</td>
                                    <td>{{ item.category_name }}</td>
                                    <td style="text-align: center"><a ng-click="editMenuItem(item.id)" href=""
                                                                      class="mainButton fullWidthButton smallButton grayButton">جزییات</a>
                                    </td>
                                    <td style="text-align: center"><a ng-click="openDeleteConfirmModal(item.id)"
                                                                      href=""><i
                                            class="fas fa-trash"></i></a></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </main>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <main class="col-sm-12 ">
                        <div class="tableButtons">
                            <div class="buttonGroup">
                                <a class="addUser mainButton greenButton" ng-click="open_modal('addMenuCategoryModal')"
                                   data-toggle="modal"
                                   data-backdrop="static" data-keyboard="false">
                                    <i class="fas fa-user-plus"></i> دسته‌بندی جدید</a>
                            </div>
                        </div>
                        <div class="tableWrapper">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col">نام دسته‌بندی</th>
                                    <th scope="col">پرینتر</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="category in menu_categories">
                                    <td class="arrowButton" scope="row">
                                        <a ng-click="change_order(category.id, 'UP')"><i class="fas fa-arrow-up"></i></a>
                                    </td>
                                    <td class="arrowButton" scope="row">
                                        <a ng-click="change_order(category.id, 'DOWN')"><i class="fas fa-arrow-down"></i></a>
                                    </td>
                                    <td scope="row" class="align-middle">{{ category.name }}</td>
                                    <td class="align-middle" scope="row">
                                        <span ng-repeat="printer in category.printers" ng-bind="($index + 1 !== category.printers.length) ? printer.name + ' ، ' : printer.name"></span>
                                    </td>
                                    <td class="align-middle"><a ng-click="editMenuCategory(category.id)"
                                                                          href=""
                                                                          class="mainButton fullWidthButton smallButton grayButton">جزییات</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </main>
                </div>
            </div>
        </div>
    </main>
</div>