<div ng-controller="closeOpenCashCtrl">
    <main class="pageContent">
        <div class="tableButtons">
            <div class="buttonGroup"></div>
            <div class="buttonGroup">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">صندوق ها</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="tableWrapper">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">شماره</th>
                    <th scope="col">تاریخ شروع</th>
                    <th scope="col">تاریخ پایان</th>
                    <th scope="col">درآمد کلی ( ریال )</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cash in all_cashes">
                    <th scope="row">{{ cash.id | persianNumber }}</th>
                    <td>{{ cash.start_date + " ساعت " + cash.start_time | persianNumber }}</td>
                    <td ng-bind="(cash.end_date ? (cash.end_date +  ' ساعت ' + cash.end_time) : '') | persianNumber"></td>
                    <td class="priceField">{{ cash.total_income | number | persianNumber }}</td>
                    <td>
                        <span class="badge badge-gray" ng-show="cash.is_closed === 1">بسته‌شده</span>
                        <span class="badge badge-warning" ng-show="cash.is_closed === 0">باز است</span>
                    </td>
                    <td>
                        <a ui-sref="dashboard.accounting.manage_cash_detail({ cash_id: cash.id })"
                           class="mainButton fullWidthButton smallButton grayButton">جزییات</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </main>
</div>