<div ng-controller="paysCtrl">
    <div data-backdrop="static" data-keyboard="false" class="modal fade mainModal" id="addModal"
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت پرداختی جدید</h2>
                    <a tabindex="0" class="mainButton redButton" role="button"
                       data-container="body"
                       data-toggle="popover" data-trigger="focus" data-placement="bottom" popover
                       question="مطمئن هستید؟"
                       text="تغییرات ذخیره‌نشده وجود دارد. با بستن بدون ذخیره این تغییرات اعمال نخواهند شد."
                       first-button-text="خروج بدون ذخیره" first-callback="close_modal('addModal')"
                       second-button-text="خروج و ذخیره"
                       second-callback="addPay()">خروج</a>
                    <a ng-click="addPay()" href="" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-hide="read_only_mode" href="" ng-click="save_and_open_modal();"
                       class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت و جدید</a>
                    <a ng-click="resetFrom()" href="" class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن </a>
                </div>
                <div class="modal-body">
                    <form>
                        <h3>اطلاعات پرداختی</h3>
                        <div class="row">
                            <div class="col">
                                <label>تامین کننده</label>
                                <select ng-model="new_pay_data.supplier_id"
                                        class="form-control">
                                    <option ng-repeat="supplier in suppliers"
                                            value="{{ supplier.id }}"
                                            ng-selected="supplier.id == new_pay_data.supplier_id">{{ supplier.name }}</option>
                                </select>
                            </div>
                            <div class="col">
                                <label>تاریخ فاکتور</label>
                                <input ng-model="new_pay_data.date" id="datepicker"
                                       class="form-control" placeholder="تاریخ" type="text">
                            </div>
                            <div class="col">
                                <label>میزان پرداختی</label>
                                <input style="font-family: 'B Yekan'" ng-model="new_pay_data.payment_amount" type="text"
                                       aria-label="First name"
                                       class="form-control" placeholder="میزان پرداختی" format>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>نوع پرداخت</label>
                                <select ng-model="new_pay_data.settle_type"
                                        class="form-control">
                                    <option value="">نوع پرداخت را انتخاب کنید...</option>
                                    <option value="CARD">کارت به کارت</option>
                                    <option value="CASH">نقدی</option>
                                    <option value="PAYA">پایا</option>
                                    <option value="CHECK">چک</option>
                                    <option value="SATNA">ساتنا</option>
                                </select>
                            </div>
                            <div class="col">
                                <label>شماره ارجاع</label>
                                <input style="font-family: 'B Yekan'" ng-model="new_pay_data.backup_code" type="text"
                                       class="form-control" placeholder="شماره ارجاع">
                            </div>
                            <div class="col">
                                <label> حساب <i class="fa fa-question-circle"
                                                title="می‌توانید حساب‌های بانکی خود را در بخش مدیریت ببینید و ویرایش کنید."
                                                data-toggle="tooltip" tooltip></i></label>
                                <select ng-model="new_pay_data.banking_id"
                                        class="form-control"
                                        ng-options="banking.id as banking.name for banking in allbanking_names">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <main class="pageContent">
        <div class="tableButtons">
            <div class="buttonGroup">
                <a ng-click="open_modal('addModal');set_today_for_invoice();getNextFactorNumber('PAY')" href=""
                   class="mainButton greenButton">پرداختی
                    جدید</a>
            </div>
            <div class="buttonGroup">
                <form>
                    <input ng-keyup="searchPay()" ng-model="search_data_pay.search_word"
                           class="form-control listFilter" type="search" placeholder="فیلتر کن">
                </form>
            </div>
        </div>
        <table-directive headers="headers" config="table_config" rows="pays"
                         delete-callback="delete_invoice_pay(item_id)"></table-directive>
    </main>
</div>