<div ng-controller="paysCtrl">
    <div class="modal fade mainModal alertModal redAlertModal" id="closeInvoicePermissionModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">تایید خروج از فاکتور</h2>
                    <a ng-click="closeAddModal()" href="" class="mainButton greenButton"> بله</a>
                    <a ng-click="closePermissionModal()" href="" class="mainButton redButton"> خیر</a>
                </div>
                <div class="modal-body">
<p style="margin: 5px 15px 0 0">                   آیا اطمینان به خروج دارید؟ تمام اطلاعات ذخیره نشده شما از بین می‌رود.</p>
                </div>
            </div>
        </div>
    </div>
    <div data-backdrop="static" data-keyboard="false" class="modal fade mainModal" id="addModal"
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت پرداختی جدید</h2>
                    <a class="mainButton redButton" ng-click="openPermissionModal()" href="" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="addPay()" href=""  class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-click="resetFrom()" href=""  class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن صفحه</a>
                </div>
                <div class="modal-body">
                    <form>
                        <h3>اطلاعات پرداختی</h3>
                        <div class="row">
                            <div class="col">
                                <label>تامین کننده</label>
                                <select ng-model="new_pay_data.supplier_id"
                                        class="form-control">
                                    <option ng-repeat="supplier in suppliers"
                                            value="{{ supplier.id }}"
                                            ng-selected="supplier.id == new_pay_data.supplier_id">{{ supplier.name }}</option>
                                </select>
                            </div>
                            <div class="col">
                                <label>میزان پرداختی</label>
                                <input style="font-family: 'B Yekan'" ng-model="new_pay_data.payment_amount" type="text" aria-label="First name"
                                       class="form-control" placeholder="میزان پرداختی" format>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="pageContent container-fluid">
        <div class="tableButtons clearfix">
            <a ng-click="openAddModal()" href="" class="mainButton greenButton tableLefty">پرداختی جدید</a>
            <input ng-keyup="searchPay()" ng-model="search_data_pay.search_word"
                   class="form-control listFilter" type="search" placeholder="فیلتر کن">
        </div>
        <div class="row userPageContent">
            <main class="col-sm-12 ">

                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">شماره پرداختی</th>
                            <th scope="col">تامین‌کننده</th>
                            <th scope="col">میزان پرداختی</th>
                            <th scope="col">تاریخ</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pay in pays">
                            <td>{{ pay.id | persianNumber }}</td>
                            <td>{{ pay.supplier_name }}</td>
                            <td class="redText">{{ pay.payment_amount | number | persianNumber }} ریال</td>
                            <td>{{ pay.created_time | persianNumber }}</td>
                            <td><a ng-click="delete_invoice_pay(pay.id)" href=""
                                   class="mainButton fullWidthButton smallButton grayButton">حذف</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </main>


        </div>
    </main>
</div>