<div ng-controller="printersCtrl">
    <div data-backdrop="static" data-keyboard="false" class="modal fade mainModal" id="addPrinterModal"
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت پرینتر جدید</h2>
                    <a class="mainButton redButton" ng-click="close_modal('addPrinterModal');resetFrom()" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="addPrinter()" href="" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-click="resetFrom()" href="" class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن </a>
                </div>
                <div class="modal-body">
                    <form>
                        <h3>اطلاعات پرینتر</h3>
                        <div class="row">
                            <div class="col">
                                <label>نام پرینتر<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_printer_data.name" type="text" aria-label="First name"
                                       class="form-control" placeholder="نام پرینتر">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="close_modal('errorModal', 'addPrinterModal')" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="pageContent container-fluid">
        <div class="row userPageContent">
            <main class="col-sm-12 ">
                        <div class="tableButtons">
                            <div class="buttonGroup">
                                <a class="addUser mainButton greenButton" ng-click="open_modal('addPrinterModal')"
                                   data-toggle="modal"
                                   data-backdrop="static" data-keyboard="false"><i
                                        class="fas fa-user-plus"></i> پرینتر جدید</a>
                            </div>
                        </div>
                        <div class="tableWrapper">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">نام پرینتر</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="printer in printers">
                                    <td style="vertical-align: middle" scope="row">{{ printer.printer_name }}</td>
                                    <td style="vertical-align: middle"><a ng-click="editPrinter(printer.printer_id)"
                                                                          href=""
                                                                          class="mainButton fullWidthButton smallButton grayButton">جزییات</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </main>
        </div>
    </main>
</div>