<div ng-controller="quickAccessCtrl">
    <div data-backdrop="static" data-keyboard="false" class="modal fade mainModal alertModal" id="payModal"
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">انتخاب نوع پرداخت</h2>
                    <a ng-click="close_modal('pay_modal')" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a href="" ng-click="settleInvoice()" class="mainButton greenButton"><i class="fas fa-save"></i> ثبت</a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <form>
                                    <label class="lefty iconic">نقد<i class="fas fa-money-bill-alt"></i></label>
                                    <label class="righty iconic"><i class="fas fa-credit-card"></i>کارت‌خوان</label>
                                    <input ng-change="payModalChangeNumber()" type="range" class="form-control-range"
                                           ng-model="invoice_settling.cash" min="0"
                                           max="{{ invoice_settling.total_price - invoice_settling.discount + invoice_settling.tip }}"
                                           step="5000">
                                    <input style="font-family: 'B Yekan'" disabled type="text" aria-label="pos"
                                           class="form-control paymentMethod righty"
                                           ng-model="invoice_settling.card" format>
                                    <input style="font-family: 'B Yekan'" ng-change="payModalChangeNumber()" type="text"
                                           aria-label="cash"
                                           class="form-control paymentMethod lefty"
                                           ng-model="invoice_settling.cash" format>
                                </form>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <add-member-modal-directive></add-member-modal-directive>

    <div class="preloader" ng-show="is_page_loading"></div>

    <main ng-hide="is_page_loading" class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-5 dashboard-col">
                <div ng-show="not_order_invoices_data.length"
                     class="badge badge-danger mb-3">سفارش نداده
                </div>
                <div ng-show="not_order_invoices_data.length" class="mb-3">
                    <div class="tableWrapper">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="invoice in not_order_invoices_data">
                                <th scope="row">{{ invoice.table_name }}</th>
                                <th scope="row">{{ invoice.customer_name }}</th>
                                <th scope="row">{{ invoice.numbers | persianNumber }} نفر</th>
                                <td><a href="" ng-click="do_not_want_order(invoice.invoice_id)"
                                       class="mainButton fullWidthButton smallButton grayButton">سفارش نمی
                                    دهد</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div ng-show="wait_game_invoices_data.length"
                     class="badge badge-danger mb-3">منتظر بازی
                </div>
                <div ng-show="wait_game_invoices_data.length" class="mb-3">
                    <div class="tableWrapper">
                        <table class="table">
                            <tbody ng-repeat="invoice in wait_game_invoices_data">
                            <tr>
                                <th scope="row">{{ invoice.table_name }}</th>
                                <th scope="row">{{ invoice.customer_name }}</th>
                                <td>
                                    <input ng-model="invoice.player_numbers" type="number"
                                           min="0"
                                           class="form-control" placeholder="تعداد نفرات بازی"
                                           aria-label="">
                                </td>
                                <td ng-hide="invoice.has_member">
                                    <input ng-disabled="new_invoice_data.current_game.start_time"
                                           ng-model="invoice.card_number" type="number"
                                           min="0"
                                           class="form-control" placeholder="شماره مشتری"
                                           aria-label="">
                                </td>
                                <td class="align-middle" scope="row" ng-show="invoice.has_member">
                                    {{ invoice.member_name }}
                                </td>
                                <td>
                                    <button ng-disabled="invoice.player_numbers === 0 || invoice.card_number === ''"
                                            href="" ng-click="start_invoice_game(invoice.invoice_id, $index)"
                                            class="mainButton fullWidthButton smallButton grayButton">شروع
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div ng-show="playing_game_invoices_data.length"
                     class="badge badge-info mb-3">در حال بازی
                </div>
                <div ng-show="playing_game_invoices_data.length" class="mb-3">
                    <div class="tableWrapper">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="invoice in playing_game_invoices_data">
                                <th scope="row">{{ invoice.table_name }}</th>
                                <th scope="row">{{ invoice.customer_name }}</th>
                                <th scope="row">{{ invoice.numbers | persianNumber }} نفر</th>
                                <td><a ng-click="endCurrentGame(invoice.game_id)" href=""
                                       class="mainButton fullWidthButton smallButton grayButton">اتمام بازی</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div ng-show="wait_for_settle_invoices_data.length"
                     class="badge badge-warning mb-3">منتظر تسویه
                </div>
                <div ng-show="wait_for_settle_invoices_data.length" class="mb-3">
                    <div class="tableWrapper">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="invoice in wait_for_settle_invoices_data">
                                <th scope="row">{{ invoice.table_name }}</th>
                                <th scope="row">{{ invoice.customer_name }}</th>
                                <th scope="row">{{ invoice.numbers | persianNumber }} نفر</th>
                                <td>
                                    <a ng-click="set_pay_modal_data(invoice.invoice_id, invoice.total_price, invoice.discount, invoice.tip)"
                                       href="" class="mainButton fullWidthButton smallButton grayButton">تسویه</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div ng-show="end_game_invoices_data.length"
                     class="badge badge-success mb-3">بازی تمام شده
                </div>
                <div ng-show="end_game_invoices_data.length" class="mb-3">
                    <div class="tableWrapper">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="invoice in end_game_invoices_data">
                                <th scope="row">{{ invoice.table_name }}</th>
                                <th scope="row">{{ invoice.customer_name }}</th>
                                <th scope="row">{{ invoice.numbers | persianNumber }} نفر</th>
                                <td><a href="" ng-click="change_game_state(invoice.invoice_id, 'WAIT_GAME')"
                                       class="mainButton fullWidthButton smallButton grayButton">دوباره بازی
                                    می‌خواهد</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-4 dashboard-col">
                <h3>
                    رزروهای تا یک ساعت آینده
                </h3>
                <div class="mb-3">
                    <div class="tableWrapper">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">نام میز</th>
                                <th scope="col">نام مشتری</th>
                                <th scope="col">تعداد</th>
                                <th scope="col">ساعت</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="reserve in left_reserves">
                                <th scope="row">{{ reserve.table_name }}</th>
                                <th scope="row">{{ reserve.customer_name }}</th>
                                <th scope="row">{{ reserve.numbers | persianNumber }}</th>
                                <th scope="row">{{ reserve.start_time_hour | persianNumber }}:{{ reserve.start_time_min | persianNumber }}</th>
                                <td><a href="" ng-click="arrive_reserve(reserve.id)"
                                       class="mainButton fullWidthButton smallButton grayButton">ثبت حضور</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <h3>
                    رزروهای نیامده
                </h3>
                <div class="mb-3">
                    <div class="tableWrapper">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">نام میز</th>
                                <th scope="col">نام مشتری</th>
                                <th scope="col">تعداد</th>
                                <th scope="col">ساعت</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="reserve in not_come_reserves">
                                <th scope="row">{{ reserve.table_name }}</th>
                                <th scope="row">{{ reserve.customer_name }}</th>
                                <th scope="row">{{ reserve.numbers | persianNumber }}</th>
                                <th scope="row">{{ reserve.start_time_hour | persianNumber }}:{{ reserve.start_time_min | persianNumber }}</th>
                                <td><a href="" ng-click="delete_reserve(reserve.id)"
                                       class="mainButton fullWidthButton smallButton grayButton">حذف</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-3 dashboard-col">
                <div class="quick-buttons">
                    <a ng-click="open_modal('addMemberModal');change_nav_inside_modal('MEMBER_INFO');"
                       class="addUser mainButton bigButton greenButton page_button mb-3">
                        عضو جدید
                    </a>
                </div>

                <div class="mb-3">
                    <input ng-keyup="searchMember()" ng-model="serach_data_member.search_word"
                           class="form-control listFilter mb-3" type="search" placeholder="فیلتر کن">
                    <div class="tableWrapper">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">نام مشتری</th>
                                <th scope="col">شماره مشتری</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="member in members">
                                <th scope="row">{{ member.first_name + " " + member.last_name }}</th>
                                <th scope="row">{{ member.card_number }}</th>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>