<div ng-controller="reportsCtrl">
    <div class="modal fade mainModal" id="show_invoice_purchase" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">فاکتور خرید </h2>
                    <a class="mainButton redButton" href=""
                       aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <table class="invoiceTable">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <small>شماره فاکتور</small>
                                            {{ invoice_purchase_data.factor_number | persianNumber }}
                                        </td>
                                        <td>
                                            <small>تاریخ فاکتور</small>
                                            {{ invoice_purchase_data.created_date | persianNumber }}
                                        </td>
                                        <td>
                                            <small>نوع پرداخت</small>
                                            {{ invoice_purchase_data.settlement_type_name }}
                                        </td>
                                        <td>
                                            <small>تامین کننده</small>
                                            {{ invoice_purchase_data.supplier_name }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="invoiceTable invoiceItem">
                                    <tbody>
                                    <tr>
                                        <th class="first"><input type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <th class="first">#</th>
                                        <th style="width: 30%" class="second">عنوان</th>
                                        <th style="width: 25%" class="third">قیمت واحد ( ریال )</th>
                                        <th style="width: 10%;" class="forth">تعداد</th>
                                        <th class="fifth">قیمت کل</th>
                                        <th style="width: 25%;" class="sixth">توضیحات</th>
                                    </tr>
                                    <tr ng-repeat="item in invoice_purchase_data.material_items">
                                        <th class="first"></th>
                                        <td>{{ $index + 1 | persianNumber }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.price | number | persianNumber }}</td>
                                        <td>{{ item.nums | number | persianNumber }}</td>
                                        <td>{{ display_float_to_int(item.total) | number | persianNumber }}</td>
                                        <td>{{ item.description }}</td>
                                    </tr>

                                    <tr ng-repeat="item in invoice_purchase_data.shop_product_items">
                                        <th class="first"></th>
                                        <td>{{ $index | persianNumber }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>
                                            <label>قیمت خرید : </label>
                                            {{ item.price | number | persianNumber }}
                                            <br>
                                            <label>قیمت فروش : </label>
                                            {{ item.sale_price | number | persianNumber }}
                                        </td>
                                        <td>{{ item.nums | number | persianNumber }}</td>
                                        <td>{{ item.total | number:fractionSize | persianNumber }}</td>
                                        <td>{{ item.description }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="invoiceTable invoiceTotal">
                                    <tbody>
                                    <tr>
                                        <th>تخفیف</th>
                                        <td>{{ invoice_purchase_data.discount | number | persianNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>مالیات</th>
                                        <td>{{ invoice_purchase_data.tax | number | persianNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th>جمع کل</th>
                                        <td>{{ invoice_purchase_data.total_price | number | persianNumber }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </main>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="pageContent container-fluid">
        <div class="tableButtons clearfix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">ساخت گزارش</li>
                </ol>
            </nav>
        </div>
        <div class="row userPageContent">
            <main class="col-sm-12 ">
                <form>
                    <div class="row">
                        <div class="col">
                            <select class="form-control" ng-model="report_data.report_category">
                                <option value="">دسته‌ی گزارش را انتخاب کنید</option>
                                <option ng-repeat="type in invoice_types"
                                        ng-value="type.id"
                                        ng-selected="report_data.report_category === type.id"
                                        ng-bind="type.name"></option>
                            </select>
                        </div>
                        <div class="col">
                            <input ng-model="report_data.start_date" id="start_date_picker"
                                   class="form-control" placeholder="از تاریخ" type="text"
                                   autocomplete="off">
                        </div>
                        <div class="col">
                            <input ng-model="report_data.end_date" id="end_date_picker"
                                   class="form-control" placeholder="تا تاریخ" type="text"
                                   autocomplete="off">
                        </div>
                        <div class="col">
                            <button ng-click="get_report();change_url_params()"
                                    class="mainButton fullWidthButton greenButton"
                                    type="button">گزارش
                            </button>
                        </div>
                    </div>
                    <div ng-hide="['INVOICE_SALE'].indexOf(report_data.report_category) !== -1" class="row">
                        <div class="col">
                            <ui-select multiple ng-model="report_data.suppliers">
                                <ui-select-match placeholder="انتخاب تامین‌کننده‌ها">{{ $item.name }}</ui-select-match>
                                <ui-select-choices
                                        repeat="supplier.id as supplier in suppliers | filter: $select.search">
                                    <div ng-bind="supplier.name"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div ng-hide="['INVOICE_SALE', 'INVOICE_PAY', 'INVOICE_RETURN'].indexOf(report_data.report_category) !== -1"
                         class="row">
                        <div class="col">
                            <ui-select search-enabled="false" multiple ng-model="report_data.settlement_types">
                                <ui-select-match placeholder="انتخاب نوع پرداخت">{{ $item.name }}</ui-select-match>
                                <ui-select-choices
                                        repeat="type.id as type in settlement_types | filter: $select.search">
                                    <div ng-bind="type.name"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </form>
                <div ng-show="reports_result" class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">تعداد کل</th>
                            <th scope="col">قیمت کل</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{ reports_result.total_invoices | persianNumber }}</th>
                            <td scope="row">{{ reports_result.total_price | number | persianNumber }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <table-directive ng-if="reports_result" headers="headers[selected_table_report_category]"
                                 price-fields="{{ ['price'] }}"
                                 rows="reports_result.results"></table-directive>
            </main>


        </div>
    </main>
</div>