<div ng-controller="reportsCtrl">
    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="pageContent container-fluid">
        <div class="tableButtons clearfix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">ساخت گزارش</li>
                </ol>
            </nav>
        </div>
        <div class="row userPageContent">
            <main class="col-sm-12 ">
                <form>
                    <div class="row">
                        <div class="col">
                            <select class="form-control" ng-model="report_data.report_category">
                                <option value="">دسته‌ی گزارش را انتخاب کنید</option>
                                <option value="INVOICE_SALE">فاکتور فروش</option>
                                <option value="INVOICE_PURCHASE">فاکتور خرید</option>
                                <option value="INVOICE_PAY">فاکتور پرداخت</option>
                                <option value="INVOICE_EXPENSE">فاکتور هزینه</option>
                                <option value="INVOICE_RETURN">فاکتور مرجوعی</option>
                            </select>
                        </div>
                        <div class="col">
                            <button class="mainButton greenButton" type="button">گزارش</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input ng-model="report_data.start_date" id="start_date_picker"
                                   class="form-control" placeholder="از تاریخ" type="text"
                                   autocomplete="off">
                        </div>
                        <div class="col">
                            <input ng-model="report_data.end_date" id="end_date_picker"
                                   class="form-control" placeholder="تا تاریخ" type="text"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div ng-hide="['INVOICE_SALE'].indexOf(report_data.report_category) !== -1" class="row">
                        <div class="col">
                            <ui-select multiple ng-model="report_data.suppliers">
                                <ui-select-match placeholder="انتخاب تامین‌کننده‌ها">{{ $item.name }}</ui-select-match>
                                <ui-select-choices
                                        repeat="supplier.id as supplier in suppliers | filter: $select.search">
                                    <div ng-bind="supplier.name"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div ng-hide="['INVOICE_SALE', 'INVOICE_PAY', 'INVOICE_RETURN'].indexOf(report_data.report_category) !== -1" class="row">
                        <div class="col">
                            <ui-select search-enabled="false" multiple ng-model="report_data.settlement_types">
                                <ui-select-match placeholder="انتخاب نوع پرداخت">{{ $item.name }}</ui-select-match>
                                <ui-select-choices
                                        repeat="type.id as type in settlement_types | filter: $select.search">
                                    <div ng-bind="type.name"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </form>
                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">عنوان</th>
                            <th scope="col">مسول فروش</th>
                            <th scope="col">شماره تماس</th>
                            <th scope="col">تاریخ آخرین پرداختی</th>
                            <th scope="col">مانده حساب</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="supplier in suppliers">
                            <td><a ng-click="editSupplier(supplier.id)" href=""
                                   class="mainButton fullWidthButton smallButton grayButton">ویرایش</a></td>
                            <th scope="row">{{ supplier.name }}</th>
                            <td>{{ supplier.salesman_name }}</td>
                            <td>{{ supplier.salesman_phone }}</td>
                            <td>{{ supplier.last_pay | persianNumber }}</td>
                            <td><span
                                    ng-class="supplier.remainder >= 0 ? 'badge badge-pill badge-success' : 'badge badge-pill badge-danger'">{{ supplier.remainder | number | persianNumber }} ریال</span>
                            </td>
                            <td><a ui-sref="account_manager.supplier({ supplier: supplier.id })"
                                   class="mainButton fullWidthButton smallButton grayButton">جزییات</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </main>


        </div>
    </main>
</div>