<div ng-controller="reportsCtrl">
    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="pageContent container-fluid">
        <div class="tableButtons clearfix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">ساخت گزارش</li>
                </ol>
            </nav>
        </div>
        <div class="row userPageContent">
            <main class="col-sm-12 ">
                <form>
                    <div class="row">
                        <div class="col">
                            <select class="form-control" ng-model="report_data.report_category">
                                <option value="">دسته‌ی گزارش را انتخاب کنید</option>
                                <option ng-repeat="type in invoice_types"
                                        ng-value="type.id"
                                        ng-selected="report_data.report_category === type.id"
                                        ng-bind="type.name"></option>
                            </select>
                        </div>
                        <div class="col">
                            <button ng-click="get_report();change_url_params()" class="mainButton greenButton" type="button">گزارش</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input ng-model="report_data.start_date" id="start_date_picker"
                                   class="form-control" placeholder="از تاریخ" type="text"
                                   autocomplete="off">
                        </div>
                        <div class="col">
                            <input ng-model="report_data.end_date" id="end_date_picker"
                                   class="form-control" placeholder="تا تاریخ" type="text"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div ng-hide="['INVOICE_SALE'].indexOf(report_data.report_category) !== -1" class="row">
                        <div class="col">
                            <ui-select multiple ng-model="report_data.suppliers">
                                <ui-select-match placeholder="انتخاب تامین‌کننده‌ها">{{ $item.name }}</ui-select-match>
                                <ui-select-choices
                                        repeat="supplier.id as supplier in suppliers | filter: $select.search">
                                    <div ng-bind="supplier.name"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div ng-hide="['INVOICE_SALE', 'INVOICE_PAY', 'INVOICE_RETURN'].indexOf(report_data.report_category) !== -1"
                         class="row">
                        <div class="col">
                            <ui-select search-enabled="false" multiple ng-model="report_data.settlement_types">
                                <ui-select-match placeholder="انتخاب نوع پرداخت">{{ $item.name }}</ui-select-match>
                                <ui-select-choices
                                        repeat="type.id as type in settlement_types | filter: $select.search">
                                    <div ng-bind="type.name"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </form>
                <div ng-show="reports_result" class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">تعداد کل</th>
                            <th scope="col">قیمت کل</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{ reports_result.total_invoices | persianNumber }}</th>
                            <td scope="row">{{ reports_result.total_price | number | persianNumber }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div ng-show="reports_result" class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">شماره فاکتور</th>
                            <th scope="col">قیمت کل</th>
                            <th scope="col">تاریخ ساخت</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="invoice in reports_result.results">
                            <th scope="row">{{ invoice.id | persianNumber }}</th>
                            <td>{{ invoice.price | number | persianNumber }}</td>
                            <td>{{ invoice.created_time | persianNumber }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </main>


        </div>
    </main>
</div>