<div ng-controller="returnCtrl">
    <div data-backdrop="static" data-keyboard="false" class="modal fade mainModal invoiceSaleModal" id="addModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">سند حسابداری</h2>
                    <a class="mainButton redButton" role="button"
                       ng-if="compare_before_exit()" ng-click="close_modal('addModal');resetFrom()">خروج</a>
                    <a tabindex="0" class="mainButton redButton" role="button"
                       data-container="body" ng-if="!compare_before_exit()"
                       data-toggle="popover" data-trigger="focus" data-placement="bottom" popover
                       question="مطمئن هستید؟"
                       text="تغییرات ذخیره‌نشده وجود دارد. با بستن بدون ذخیره این تغییرات اعمال نخواهند شد."
                       first-button-text="خروج بدون ذخیره" first-callback="close_modal('addModal');resetFrom()"
                       second-button-text="خروج و ذخیره"
                       second-callback="addReturn()">خروج</a>
                    <a ng-hide="read_only_mode" href="" ng-click="addReturn()" class="mainButton greenButton"> ذخیره</a>
                    <a ng-hide="read_only_mode" href="" ng-click="save_and_open_modal();"
                       class="mainButton greenButton"> ذخیره و سند جدید</a>
                    <a ng-click="resetFrom()" href="" class="mainButton grayButton">
                        پاک کردن صفحه </a>
                </div>
                <div class="modal-body">
                    <aside class="rightSideInvoiceSale">
                        <div class="nav-group" role="group">
                            <button class="mainButton active">
                                <span>مرجوعی</span>
                            </button>
                        </div>
                        <nav class="nav flex-column cafeMenuNav">
                            <div>
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <label>نوع مرجوعی</label>
                                            <select ng-model="new_invoice_return_data.return_type"
                                                    class="form-control">
                                                <option value="">انتخاب کنید</option>
                                                <option value="CUSTOMER_TO_CAFE">مشتری به کافه</option>
                                                <option value="CAFE_TO_SUPPLIER">کافه به طرف حساب</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label>طرف حساب</label>
                                            <ui-select
                                                    ng-class="{'disabled': new_invoice_return_data.return_type !== 'CAFE_TO_SUPPLIER'}"
                                                    ng-disabled="new_invoice_return_data.return_type !== 'CAFE_TO_SUPPLIER'"
                                                    ng-model="new_invoice_return_data.supplier_id">
                                                <ui-select-match placeholder="جستجو">
                                                    {{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices
                                                        repeat="supplier.id as supplier in suppliers | filter: $select.search">
                                                    <div ng-bind="supplier.name"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </form>
                                <div class="searchProductWrapper">
                                    <label>جستجوی محصولات فروشگاهی</label>
                                    <input ng-keyup="search_shop_products()"
                                           ng-model="search_data_shop_products.search_word"
                                           class="form-control listFilter" type="text"
                                           placeholder="نام محصول فروشگاهی">
                                </div>
                                <div class="productsWrapper">
                                    <div class="accountingCard" ng-repeat="shop in shops"
                                         ng-click="add_item_shop(shop.id, shop.name)">
                                        <span ng-bind="shop.name"></span>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </aside>
                    <aside class="leftSideInvoiceSale">
                        <div class="generalInfoInvoice">
                            <div>
                                <label>تاریخ</label>
                                <input ng-model="new_invoice_return_data.date" id="datepicker"
                                       class="form-control" placeholder="تاریخ" type="text">
                            </div>
                            <div>
                                <label>طرف حساب</label>
                                <input class="form-control customReadonly requiredField" type="text"
                                       ng-model="new_invoice_return_data.supplier_id" readonly>
                            </div>
                            <div>
                                <label>شماره فاکتور</label>
                                <input class="form-control iranian-number" type="text"
                                       ng-model="new_invoice_return_data.factor_number" disabled>
                            </div>
                        </div>
                        <table class="invoiceTable invoiceItem newInvoiceSaleTable">
                            <tbody>
                            <tr>
                                <th class="first"></th>
                                <th class="second">محصول</th>
                                <th>تعداد</th>
                                <th>توضیحات</th>
                            </tr>
                            <tr ng-repeat="return_product in new_invoice_return_data.return_products">
                                <td class="first"><a href="" ng-click="delete_product_row($index)"><i
                                        class="fa fa-trash"></i></a></td>
                                <td ng-bind="return_product.shop_name">
                                </td>
                                <td><input class="form-control iranian-number" type="number" min="0"
                                           ng-model="return_product.numbers"></td>
                                <td><input class="form-control" type="text" ng-maxlength="60"
                                           ng-model="return_product.description"></td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="invoiceSaleFooter">
                            <div class="accountingMoreInfo">
                                <div class="flexFull">
                                    <small>حساب بانکی</small>
                                    <select ng-disabled="new_invoice_return_data.return_type !== 'CUSTOMER_TO_CAFE'"
                                            ng-model="new_invoice_return_data.banking_id"
                                            class="form-control customSelect"
                                            ng-options="banking.id as banking.name for banking in allbanking_names">
                                    </select>

                                </div>
                                <div class="flexFull">
                                    <small>انبار</small>
                                    <select ng-model="new_invoice_return_data.stock_id"
                                            class="form-control customSelect"
                                            ng-options="stock.id as stock.name for stock in stocks">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <main class="pageContent">
        <div class="tableButtons">
            <div class="buttonGroup">
                <a ng-click="open_modal('addModal');set_today_for_invoice();getNextFactorNumber('RETURN')" href=""
                   class="mainButton greenButton">مرجوعی جدید</a>
            </div>
            <div class="buttonGroup">
                <form>
                    <input ng-keyup="searchReturn()" ng-model="search_data_return.search_word"
                           class="form-control listFilter" type="search" placeholder="فیلتر کن">
                </form>
            </div>
        </div>
        <table-directive headers="headers" config="table_config" rows="returns"></table-directive>
    </main>
</div>