<div ng-controller="returnCtrl">
    <div class="modal fade mainModal alertModal redAlertModal" id="closeInvoicePermissionModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">تایید خروج از فاکتور</h2>
                    <a ng-click="closeAddModal()" href="" class="mainButton greenButton"> بله</a>
                    <a ng-click="closePermissionModal()" href="" class="mainButton redButton"> خیر</a>
                </div>
                <div class="modal-body">
                    <p style="margin: 5px 15px 0 0"> آیا اطمینان به خروج دارید؟ تمام اطلاعات ذخیره نشده شما از بین
                        می‌رود.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal" id="addModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">فاکتور مرجوعی </h2>
                    <a ng-click="openPermissionModal()" class="mainButton redButton" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-hide="read_only_mode" href="" ng-click="addReturn()" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-hide="read_only_mode" href="" ng-click="save_and_open_modal();"
                       class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت و جدید</a>
                    <a ng-click="resetFrom()" href="" class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن </a>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <table class="invoiceTable">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <small>شماره فاکتور</small>
                                            <a href=""
                                               class="">{{ new_invoice_return_data.factor_number | persianNumber }}</a>
                                        </td>
                                        <td>
                                            <small>تاریخ فاکتور</small>
                                            <input ng-model="new_invoice_return_data.date" id="datepicker"
                                                   class="form-control listFilter tableLefty" placeholder="تاریخ"
                                                   type="text">
                                        </td>
                                        <td>
                                            <small>نوع مرجوعی</small>
                                            <select ng-model="new_invoice_return_data.return_type"
                                                    class="form-control">
                                                <option value="">نوع مرجوعی را انتخاب کنید...</option>
                                                <option value="CUSTOMER_TO_CAFE">مشتری به کافه</option>
                                                <option value="CAFE_TO_SUPPLIER">کافه به تامین‌کننده</option>
                                            </select>
                                        </td>
                                        
                                        <td>
                                            <small>تامین کننده</small>
                                            <ui-select ng-model="new_invoice_return_data.supplier_id">
                                                <ui-select-match placeholder="انتخاب تامین‌کننده">
                                                    {{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices
                                                        repeat="supplier.id as supplier in suppliers | filter: $select.search">
                                                    <div ng-bind="supplier.name"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table ng-hide="true" class="invoiceTable">
                                <tbody>
                                    <tr>
                                        <td>
                                            <small>حساب بانکی</small>
                                            <select ng-model="new_invoice_return_data.banking_id"
                                                    class="form-control" ng-options="banking.id as banking.name for banking in allbanking_names">
                                            </select>
                                        </td>
                                        <td>
                                            <small>انبار</small>
                                            <select ng-model="new_invoice_return_data.stock_id"
                                                    class="form-control" ng-options="stock.id as stock.name for stock in stocks">
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="invoiceTable invoiceItem">
                                    <tbody>
                                    <tr>
                                        <th class="first"><input type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <th class="first">#</th>
                                        <th style="width: 30%" class="second">محصول</th>
                                        <th class="fifth">تعداد</th>
                                        <th style="width: 25%;" class="sixth">توضیحات</th>
                                    </tr>
                                    <tr ng-repeat="return_product in new_invoice_return_data.return_products">
                                        <th class="first"><input type="checkbox"
                                                                 aria-label="Checkbox for following text input"></th>
                                        <td>{{ 1 | persianNumber }}</td>
                                        <td>
                                            <ui-select ng-change="get_last_buy_price(return_product.shop_id)"
                                                       ng-model="return_product.shop_id">
                                                <ui-select-match placeholder="انتخاب محصول">
                                                    {{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices
                                                        repeat="shop.id as shop in shops | filter: $select.search">
                                                    <div ng-bind="shop.name"></div>
                                                </ui-select-choices>
                                            </ui-select>

                                        </td>
                                        <td><input style="font-family: 'B Yekan'" class="form-control" type="number"
                                                   min="0"
                                                   ng-model="return_product.numbers"></td>
                                        <td><input class="form-control" type="text" ng-maxlength="60"
                                                   ng-model="return_product.description"></td>
                                    </tr>

                                    </tbody>
                                </table>
                                <a ng-click="add_new_row_to_return_products()" href="" class="mainButton grayButton"><i
                                        class="fas fa-eraser"></i>
                                    اضافه کردن سطر جدید</a>
                            </main>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="pageContent container-fluid">
        <div class="tableButtons">
            <div class="buttonGroup">
                <a ng-click="openAddModal();getNextFactorNumber('RETURN')" href=""
                   class="mainButton greenButton">مرجوعی جدید</a>
            </div>
            <div class="buttonGroup">
                <form>
                    <input ng-keyup="searchReturn()" ng-model="search_data_return.search_word"
                           class="form-control listFilter" type="search" placeholder="فیلتر کن">
                </form>
            </div>
        </div>
        <div class="row userPageContent">
            <main class="col-sm-12 ">

                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">شماره فاکتور</th>
                            <th scope="col">تامین‌کننده</th>
                            <th scope="col">نام محصول</th>
                            <th scope="col">تعداد</th>
                            <th scope="col">قیمت کل</th>
                            <th scope="col">توضیحات</th>
                            <th scope="col">تاریخ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="invoice_return in returns">
                            <th>{{ invoice_return.factor_number | persianNumber }}</th>
                            <th scope="row">{{ invoice_return.supplier_name }}</th>
                            <th scope="row">{{ invoice_return.shop_name }}</th>
                            <td>{{ invoice_return.numbers | persianNumber }}</td>
                            <td>{{ invoice_return.total_price | number | persianNumber }} ریال</td>
                            <td>{{ invoice_return.description }}</td>
                            <td>{{ invoice_return.date | persianNumber }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </main>


        </div>
    </main>
</div>