<div ng-controller="returnCtrl">
    <div class="modal fade mainModal" id="addModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">فاکتور مرجوعی </h2>
                    <a tabindex="0" class="mainButton redButton" role="button"
                       data-container="body"
                       data-toggle="popover" data-trigger="focus" data-placement="bottom" popover
                       question="مطمئن هستید؟"
                       text="تغییرات ذخیره‌نشده وجود دارد. با بستن بدون ذخیره این تغییرات اعمال نخواهند شد."
                       first-button-text="خروج بدون ذخیره" first-callback="close_modal('addModal');resetFrom()"
                       second-button-text="خروج و ذخیره"
                       second-callback="addReturn()">خروج</a>
                    <a ng-hide="read_only_mode" href="" ng-click="addReturn()" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-hide="read_only_mode" href="" ng-click="save_and_open_modal();"
                       class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت و جدید</a>
                    <a ng-click="resetFrom()" href="" class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن </a>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <table class="invoiceTable">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <small>شماره فاکتور</small>
                                            <a href=""
                                               class="">{{ new_invoice_return_data.factor_number | persianNumber }}</a>
                                        </td>
                                        <td>
                                            <small>تاریخ فاکتور</small>
                                            <input ng-model="new_invoice_return_data.date" id="datepicker"
                                                   class="form-control listFilter tableLefty" placeholder="تاریخ"
                                                   type="text">
                                        </td>
                                        <td>
                                            <small>نوع مرجوعی</small>
                                            <select ng-model="new_invoice_return_data.return_type"
                                                    class="form-control">
                                                <option value="">نوع مرجوعی را انتخاب کنید...</option>
                                                <option value="CUSTOMER_TO_CAFE">مشتری به کافه</option>
                                                <option value="CAFE_TO_SUPPLIER">کافه به طرف حساب</option>
                                            </select>
                                        </td>

                                        <td>
                                            <small>طرف حساب</small>
                                            <ui-select ng-model="new_invoice_return_data.supplier_id">
                                                <ui-select-match placeholder="انتخاب طرف حساب">
                                                    {{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices
                                                        repeat="supplier.id as supplier in suppliers | filter: $select.search">
                                                    <div ng-bind="supplier.name"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table ng-hide="true" class="invoiceTable">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <small>حساب بانکی</small>
                                            <select ng-model="new_invoice_return_data.banking_id"
                                                    class="form-control"
                                                    ng-options="banking.id as banking.name for banking in allbanking_names">
                                            </select>
                                        </td>
                                        <td>
                                            <small>انبار</small>
                                            <select ng-model="new_invoice_return_data.stock_id"
                                                    class="form-control"
                                                    ng-options="stock.id as stock.name for stock in stocks">
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="invoiceTable invoiceItem">
                                    <tbody>
                                    <tr>
                                        <th class="first"></th>
                                        <th class="first">#</th>
                                        <th style="width: 30%" class="second">محصول</th>
                                        <th class="fifth">تعداد</th>
                                        <th style="width: 25%;" class="sixth">توضیحات</th>
                                    </tr>
                                    <tr ng-repeat="return_product in new_invoice_return_data.return_products">
                                        <th class="first"><a href="" ng-click="delete_product_row($index)"><i
                                                class="fa fa-trash"></i></a></th>
                                        <td>{{ 1 | persianNumber }}</td>
                                        <td>
                                            <ui-select ng-model="return_product.shop_id">
                                                <ui-select-match placeholder="انتخاب محصول">
                                                    {{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices
                                                        repeat="shop.id as shop in shops | filter: $select.search">
                                                    <div ng-bind="shop.name"></div>
                                                </ui-select-choices>
                                            </ui-select>

                                        </td>
                                        <td><input class="form-control iranian-number" type="number" min="0"
                                                   ng-model="return_product.numbers"></td>
                                        <td><input class="form-control" type="text" ng-maxlength="60"
                                                   ng-model="return_product.description"></td>
                                    </tr>

                                    </tbody>
                                </table>
                                <a ng-click="add_new_row_to_return_products()" href="" class="mainButton grayButton"><i
                                        class="fas fa-eraser"></i>
                                    اضافه کردن سطر جدید</a>
                            </main>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <main class="pageContent container-fluid">
        <div class="tableButtons">
            <div class="buttonGroup">
                <a ng-click="open_modal('addModal');set_today_for_invoice();getNextFactorNumber('RETURN')" href=""
                   class="mainButton greenButton">مرجوعی جدید</a>
            </div>
            <div class="buttonGroup">
                <form>
                    <input ng-keyup="searchReturn()" ng-model="search_data_return.search_word"
                           class="form-control listFilter" type="search" placeholder="فیلتر کن">
                </form>
            </div>
        </div>
        <table-directive headers="headers" config="table_config" rows="returns"></table-directive>
    </main>
</div>