<div ng-controller="salaryCtrl">
    <div class="modal fade mainModal alertModal redAlertModal" id="closeInvoicePermissionModal" data-backdrop="static"
        data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">تایید خروج از فاکتور</h2>
                    <a ng-click="close_modal('addModal');close_modal('closeInvoicePermissionModal','addModal')" href="" class="mainButton greenButton"> بله</a>
                    <a ng-click="closePermissionModal()" href="" class="mainButton redButton"> خیر</a>
                </div>
                <div class="modal-body">
                    <p style="margin: 5px 15px 0 0"> آیا اطمینان به خروج دارید؟ تمام اطلاعات ذخیره نشده شما از بین
                        می‌رود.</p>
                </div>
            </div>
        </div>
    </div>

    <div data-backdrop="static" data-keyboard="false" class="modal fade mainModal" id="addModal"
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت فیش حقوقی جدید</h2>
                    <a class="mainButton redButton" ng-click="openPermissionModal()" href="" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="addSalary()" href="" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-hide="read_only_mode" href="" ng-click="save_and_open_modal();"
                       class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت و جدید</a>
                    <a ng-click="resetFrom()" href="" class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن </a>
                </div>
                <div class="modal-body">
                    <form>
                        <h3> اطلاعات فیش حقوقی</h3>

                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <main class="col-sm-12">
                                        <table class="invoiceTable">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <small>شماره فاکتور</small>
                                                    <a href=""
                                                       class="">{{ new_salary_data.factor_number | persianNumber }}</a>
                                                </td>
                                                <td>
                                                    <small>کارمند</small>
                                                    <ui-select ng-model="new_salary_data.employee_id">
                                                        <ui-select-match placeholder="انتخاب کارمند">
                                                            {{$select.selected.full_name}}</ui-select-match>
                                                        <ui-select-choices repeat="employee.id as employee in employees | filter: $select.search">
                                                            <div ng-bind="employee.full_name"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td>
                                                    <small>تاریخ فاکتور</small>
                                                    <input ng-model="new_salary_data.invoice_date" id="datepicker"
                                                           class="form-control listFilter tableLefty" placeholder="تاریخ"
                                                           type="text">
                                                </td>
                                                <td>
                                                    <small>نوع پرداخت</small>
                                                    <select ng-model="new_salary_data.settle_type"
                                                            class="form-control">
                                                            
                                                            <option value="CARD">کارت به کارت</option>
                                                            <option value="CASH">نقدی</option>
                                                            <option value="PAYA">پایا</option>
                                                            <option value="CHECK">چک</option>
                                                            <option value="SATNA">ساتنا</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <label>شماره ارجاع</label>
                                                    <input style="font-family: 'B Yekan'" ng-model="new_salary_data.backup_code" type="text"
                                                           class="form-control" placeholder="شماره ارجاع">
                                                </td>
                                                <td>
                                                    <label> حساب <i class="fa fa-question-circle"
                                                        title="می‌توانید حساب‌های بانکی خود را در بخش مدیریت ببینید و ویرایش کنید."
                                                        data-toggle="tooltip" tooltip></i></label>
                                                    <select ng-model="new_salary_data.banking_id"
                                                            class="form-control" ng-options="banking.id as banking.name for banking in allbanking_names">
                                                    </select>
                                                </td>


                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="invoiceTable">
                                            <tbody>
                                            <tr>

        
                                                <td ng-hide="true">
                                                    <small>حساب بانکی</small>
                                                    <select ng-model="new_invoice_expense_data.banking_id"
                                                            class="form-control" ng-options="banking.id as banking.name for banking in allbanking_names">
                                                    </select>
                                                </td>
        
                                                <td ng-hide="true">
                                                    <small>انبار</small>
                                                    <select ng-model="new_invoice_expense_data.stock_id"
                                                            class="form-control" ng-options="stock.id as stock.name for stock in stocks">
                                                    </select>
                                                </td>
        
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="invoiceTable invoiceItem">
                                            <tbody>
                                            <tr>
                                                <th class="first"><input type="checkbox"
                                                                         aria-label="Checkbox for following text input"></th>
                                                <th class="first">#</th>
                                                <th style="width: 30%" class="second">عنوان</th>
                                                <th class="fifth">قیمت کل</th>
                                                <th style="width: 25%;" class="sixth">توضیحات</th>
                                            </tr>
                                            <tr ng-repeat="service in new_invoice_expense_data.services">
                                                <th class="first"><a ng-click="deleteNewItem($index)" style="cursor: pointer"><i
                                                        class="fas fa-trash"></i></a></th>
                                                <td>{{ $index + 1 | persianNumber }}</td>
                                                <td><input class="form-control" type="text"
                                                           ng-model="service.service_name"></td>
                                                <td><input ng-change="change_total_price()" style="font-family: 'B Yekan'"
                                                           class="form-control" type="text"
                                                           ng-model="service.price" format></td>
                                                <td><input class="form-control" type="text" ng-maxlength="60"
                                                           ng-model="service.description"></td>
                                            </tr>
        
                                            </tbody>
                                        </table>
                                        <a ng-click="add_new_row_to_services()" href="" class="mainButton grayButton"><i
                                                class="fas fa-eraser"></i>
                                            اضافه کردن سطر جدید</a>
                                        <table class="invoiceTable invoiceTotal">
                                            <tbody>
                                            <tr>
                                                <th>تخفیف</th>
                                                <td><input ng-model="new_invoice_expense_data.discount" type="text" class="form-control"
                                                           aria-label="" ng-change="change_total_price()" format>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>مالیات</th>
                                                <td><input ng-model="new_invoice_expense_data.tax" type="text" class="form-control"
                                                           aria-label="" ng-change="change_total_price()" format>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>جمع کل</th>
                                                <td>
                                                    {{ new_invoice_expense_data.total_price | number:fractionSize | persianNumber }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </main>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="close_modal('errorModal','addModal')" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="pageContent container-fluid">
        <div class="tableButtons">
            <div class="buttonGroup">
                <a ng-click="open_modal('addModal');getNextFactorNumber('SALARY')" href="" class="mainButton greenButton">ثبت حقوق
                    جدید</a>
            </div>
            <div class="buttonGroup">
                <form>
                    <input ng-keyup="searchPay()" ng-model="search_data_pay.search_word"
                           class="form-control listFilter" type="search" placeholder="فیلتر کن">
                </form>
            </div>
        </div>
        <div class="row userPageContent">
            <main class="col-sm-12 ">

                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">شماره پرداختی</th>
                            <th scope="col">تامین‌کننده</th>
                            <th scope="col">میزان پرداختی</th>
                            <th scope="col">نوع پرداخت</th>
                            <th scope="col">شماره ارجاع</th>
                            <th scope="col">بانکداری</th>
                            <th scope="col">تاریخ</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <!-- <tbody>
                        <tr ng-repeat="pay in pays">
                            <td>{{ pay.factor_number | persianNumber }}</td>
                            <td>{{ pay.supplier_name }}</td>
                            <td class="redText">{{ pay.payment_amount | number | persianNumber }} ریال</td>
                            <td>{{ pay.settle_type }}</td>
                            <td>{{ pay.backup_code | persianNumber }}</td>
                            <td ng-bind="pay.banking ? pay.banking : '-'"></td>
                            <td>{{ pay.created_time | persianNumber }}</td>
                            <td><a ng-click="openDeletePermissionModal(pay.id)" href=""
                                   class="mainButton fullWidthButton smallButton grayButton">حذف</a></td>
                        </tr>
                        </tbody> -->
                    </table>

                </div>

            </main>


        </div>
    </main>

</div>