<div ng-controller="salonCtrl">
    <div class="modal fade mainModal alertModal redAlertModal" id="deleteItemsModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">حذف آیتم از فاکتور</h2>
                    <a ng-click="closeDeleteModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="delete_items()" href="" class="mainButton greenButton"><i class="fas fa-save"></i> ثبت</a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">دلیل حذف آیتم را توضیح دهید</span>
                                <label>توضیحات</label>
                                <form>
                                    <div class="form-group">
                                        <textarea ng-model="will_delete_items.message" class="form-control"
                                                  rows="3"></textarea>
                                    </div>
                                </form>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal redAlertModal" id="deleteInvoiceModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">حذف فاکتور</h2>
                    <a ng-click="close_modal('deleteInvoiceModal')" class="mainButton redButton" data-dismiss="modal"
                       href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="delete_invoice()" href="" class="mainButton greenButton"><i class="fas fa-save"></i>
                        حذف فاکتور</a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">دلیل حذف فاکتور را توضیح دهید</span>
                                <label>توضیحات</label>
                                <form>
                                    <div class="form-group">
                                        <textarea ng-model="invoice_delete_description" class="form-control"
                                                  rows="3"></textarea>
                                    </div>
                                </form>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-backdrop="static" data-keyboard="false" class="modal fade mainModal alertModal"
         id="editSettledInvoicePayment"
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ویرایش نوع پرداخت</h2>
                    <a ng-click="close_modal('editSettledInvoicePayment', 'viewInvoiceModal')"
                       class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a href="" ng-click="edit_settled_invoice_payment()" class="mainButton greenButton"><i
                            class="fas fa-save"></i> ویرایش</a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <form>
                                    <label class="lefty iconic">نقد<i class="fas fa-money-bill-alt"></i></label>
                                    <label class="righty iconic"><i class="fas fa-credit-card"></i>کارت‌خوان</label>
                                    <input type="range" class="form-control-range"
                                           min="0"
                                           max="{{ editable_invoice.total }}"
                                           step="5000"
                                           ng-change="edit_payment_modal_changer()"
                                           ng-model="editable_invoice.cash">
                                    <input style="font-family: 'B Yekan'" disabled type="text" aria-label="pos"
                                           class="form-control paymentMethod righty"
                                           ng-model="editable_invoice.pos" format>
                                    <input ng-change="edit_payment_modal_changer()" style="font-family: 'B Yekan'"
                                           type="text"
                                           aria-label="cash"
                                           class="form-control paymentMethod lefty"
                                           ng-model="editable_invoice.cash" format>
                                </form>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <settled-invoice-modal-directive>
    </settled-invoice-modal-directive>

    <div class="modal fade mainModal alertModal redAlertModal" id="closeInvoicePermissionModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">تایید خروج از فاکتور</h2>
                    <a ng-click="closeAddInvoiceModal()" href="" class="mainButton greenButton"> بله</a>
                    <a ng-click="closePermissionModal()" href="" class="mainButton redButton"> خیر</a>
                </div>
                <div class="modal-body">
                    <p style="margin: 5px 15px 0 0"> آیا اطمینان به خروج دارید؟ تمام اطلاعات ذخیره نشده شما از بین
                        می‌رود.</p>
                </div>
            </div>
        </div>
    </div>
    <div data-backdrop="static" data-keyboard="false" class="modal fade mainModal invoiceSaleModal" id="addInvoiceModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">فاکتور فروش </h2>
                    <button ng-click="openPermissionModal()" class="mainButton redButton"
                            ng-disabled="disable_print_after_save_all_buttons"
                            aria-label="Close">
                        <span aria-hidden="true">خروج</span>
                    </button>
                    <button ng-disabled="disable_print_after_save_all_buttons && can_settle_invoice_boolean"
                            id="settle_button" ng-click="openPayModal()"
                            class="mainButton greenButton">تسویه
                    </button>

                    <button type="button" class="mainButton blueButton dropdown-toggle" data-toggle="dropdown">
                        چاپ
                    </button>
                    <div class="dropdown-menu">
                        <a ng-disabled="disable_print_after_save_all_buttons && can_settle_invoice_boolean"
                           ng-click="print_cash()" class="dropdown-item" href="">چاپ مشتری</a>
                        <a ng-disabled="disable_print_after_save_all_buttons"
                           ng-click="print_after_save(new_invoice_data.invoice_sales_id)" class="dropdown-item"
                           href="">چاپ سفارش</a>
                    </div>

                    <button ng-disabled="disable_print_after_save_all_buttons" ng-click="saveInvoice()"
                            class="mainButton okrButton">ذخیره
                    </button>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <aside class="col-sm-5 rightSideInvoiceSale">
                                <div class="nav-group" role="group">
                                    <button ng-click="changeMenuNav('MENU')" class="mainButton"
                                            ng-class="{'active' : current_menu_nav === 'MENU'}">
                                        <span>منوی کافه</span>
                                    </button>
                                    <button ng-click="changeMenuNav('SHOP')" class="mainButton"
                                            ng-class="{'active' : current_menu_nav === 'SHOP'}">
                                        <span> فروشگاه </span>
                                    </button>
                                    <button ng-click="changeMenuNav('MEMBER')" class="mainButton"
                                            ng-class="{'active' : current_menu_nav === 'MEMBER'}">
                                        <span> مشتری </span>
                                    </button>
                                    <button ng-click="changeMenuNav('GAME')" class="mainButton"
                                            ng-class="{'active' : current_menu_nav === 'GAME'}">
                                        <span>بازی</span>
                                    </button>
                                </div>
                                <nav ng-show="current_menu_nav === 'MENU'" class="nav flex-column cafeMenuNav">
                                    <ul>
                                        <div class="accordion">
                                            <div class="menuCategoriesWrapper">
                                                <div ng-click="showCollapse($index)"
                                                     ng-repeat="category in menu_items_with_categories"
                                                     class="menuCategoryCard">
                                                    <span ng-bind="category.category_name"></span>
                                                </div>
                                                <div class="menuCategoryCard"
                                                     ng-repeat="x in [].constructor(menu_items_with_categories.length % 4) track by $index"></div>
                                            </div>
                                            <div class="menuItemsWrapper">
                                                <div ng-repeat="item in selected_category.items"
                                                     ng-click="add_item(item.id, item.name, item.price)"
                                                     class="menuItemCard">
                                                    <span ng-bind="item.name"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </nav>

                                <nav ng-show="current_menu_nav === 'SHOP'" class="nav flex-column cafeMenuNav">
                                    <ul>
                                        <div class="accordion">
                                            <div class="searchProductWrapper">
                                                <label>جستجوی محصول</label>
                                                <input ng-keyup="search_shop_products()"
                                                       ng-model="search_data_shop_products.search_word"
                                                       class="form-control listFilter" type="text"
                                                       placeholder="نام محصول فروشگاهی">
                                            </div>
                                            <div class="productsWrapper">
                                                <div class="productCard" ng-repeat="shop in shop_products"
                                                     ng-click="add_item_shop(shop.id, shop.name, shop.price, shop.real_numbers)">
                                                    <span ng-bind="shop.name"></span>
                                                    <span>
                                                        <i class="fas fa-tag"></i>
                                                        <span>&nbsp;</span>
                                                        <span ng-bind="shop.price | number | persianNumber"></span>
                                                    </span>
                                                    <span>
                                                        <i class="fas fa-boxes"></i>
                                                        <span>&nbsp;</span>
                                                        <span ng-bind="shop.real_numbers | persianNumber"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </nav>

                                <nav ng-show="current_menu_nav === 'MEMBER'" class="nav flex-column cafeMenuNav">
                                    <div ng-if="!new_invoice_data.member_id" class="notMemberState">
                                        <div class="searchMember">
                                            <div>
                                                <label>جستجوی مشتری</label>
                                                <input class="form-control autoHeight" type="text"
                                                       ng-model="search_member_data"
                                                       ng-enter="get_member_data(search_member_data)"
                                                       placeholder="شماره عضویت / شماره موبایل"
                                                       select-on-click>
                                            </div>
                                            <button class="mainButton greenButton">تایید</button>
                                        </div>
                                        <div class="addNewMember">
                                            <div>
                                                <div>
                                                    <label>نام</label>
                                                    <input class="form-control autoHeight" type="text"
                                                           placeholder=""
                                                           select-on-click>
                                                </div>
                                                <div>
                                                    <label>نام خانوادگی</label>
                                                    <input class="form-control autoHeight" type="text"
                                                           placeholder=""
                                                           select-on-click>
                                                </div>
                                                <div>
                                                    <label>شماره موبایل</label>
                                                    <input class="form-control autoHeight" type="text"
                                                           placeholder=""
                                                           select-on-click>
                                                </div>
                                                <div>
                                                    <div>
                                                        <label>تاریخ تولد</label>
                                                        <input class="form-control autoHeight" type="text"
                                                               placeholder=""
                                                               select-on-click>
                                                    </div>
                                                    <input class="form-control autoHeight" type="text"
                                                           placeholder=""
                                                           select-on-click>
                                                    <input class="form-control autoHeight" type="text"
                                                           placeholder=""
                                                           select-on-click>
                                                </div>
                                                <div>
                                                    <label>نحوه آشنایی</label>
                                                    <input class="form-control autoHeight" type="text"
                                                           placeholder=""
                                                           select-on-click>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <label>شماره مشتری</label>
                                                    <input class="form-control autoHeight" type="text"
                                                           placeholder=""
                                                           select-on-click>
                                                </div>
                                                <button class="mainButton greenButton">ذخیره</button>
                                            </div>
                                        </div>
                                        <div class="staticNameGuest">
                                            <div>
                                                <label>نام استاتیک برای مشتری</label>
                                                <input class="form-control autoHeight" type="text"
                                                       placeholder=""
                                                       select-on-click>
                                            </div>
                                            <button class="mainButton greenButton">ذخیره</button>
                                            <small>
                                                نام استاتیک فقط برای این فاکتور استفاده خواهد شد و در سیستم به عنوان
                                                مشتری ثبت نمی‌گردد. از این فیلد در صورتی استفاده کنید که نمی‌خواهید
                                                مشتری در سیستم ثبت شود، اما می‌خواهید فاکتور او نام داشته باشد.
                                            </small>
                                        </div>
                                    </div>
                                    <div ng-if="new_invoice_data.member_id" class="isMemberState">
                                        <div class="memberName">
                                            <div>
                                                <label>مشتری</label>
                                                <p ng-bind="new_invoice_data.member_name"></p>
                                            </div>
                                        </div>
                                        <div class="creditsMenu">
                                            <div ng-click="change_credit_menu_state('SHOW_CREDITS')"
                                                 ng-class="{'active' : credit_state === 'SHOW_CREDITS'}">
                                                <span>لیست اعتبارها</span>
                                            </div>
                                            <div ng-click="change_credit_menu_state('ADD_CREDITS')"
                                                 ng-class="{'active' : credit_state === 'ADD_CREDITS'}">
                                                <span>افزودن اعتبار</span>
                                            </div>
                                        </div>
                                        <div class="credits">
                                            <div ng-if="credit_state === 'SHOW_CREDITS'" class="showCredits">
                                                <button ng-disabled="disable_print_after_save_all_buttons"
                                                        ng-click="perform_credit()"
                                                        class="mainButton grayButton">اعمال اعتبار
                                                </button>
                                            </div>
                                            <div ng-if="credit_state === 'ADD_CREDITS'" class="addCredits"></div>
                                        </div>
                                    </div>
                                </nav>

                                <nav ng-show="current_menu_nav === 'GAME'" class="nav flex-column cafeMenuNav">
                                    <div class="gameSectionWrapper">
                                        <div class="startGameInputs">
                                            <div>
                                                <label>تعداد بازیکنان</label>
                                                <input ng-disabled="new_invoice_data.current_game.start_time"
                                                       ng-model="new_invoice_data.current_game.numbers" type="number"
                                                       min="0"
                                                       class="form-control" placeholder="تعداد نفرات بازی"
                                                       aria-label="">
                                            </div>

                                            <button ng-click="start_game()"
                                                    ng-disabled="new_invoice_data.current_game.numbers === 0"
                                                    ng-show="!new_invoice_data.current_game.start_time" href=""
                                                    class="mainButton grayButton">شروع زمان بازی
                                            </button>

                                            <button ng-click="endCurrentGame(new_invoice_data.current_game.id)"
                                                    ng-disabled="disable_print_after_save_all_buttons"
                                                    ng-if="new_invoice_data.current_game.start_time !== ''"
                                                    class="mainButton grayButton">اتمام زمان بازی
                                            </button>

                                            <div>
                                                <label>زمان آغاز اولین بازی</label>
                                                <p class="gameStartTime"
                                                   ng-bind="(new_invoice_data.games.length ? new_invoice_data.games[0].start_time : '') | persianNumber"></p>
                                            </div>


                                        </div>
                                        <div class="gameDataTable">
                                            <table class="invoiceTable invoiceItem newInvoiceSaleTable">
                                                <tbody>
                                                <tr>
                                                    <th class="second">تعداد بازیکن</th>
                                                    <th class="third">شروع</th>
                                                    <th class="forth">پایان</th>
                                                    <th class="fifth">مدت</th>
                                                    <th class="sixth"></th>
                                                </tr>

                                                <tr ng-repeat="game in new_invoice_data.games">
                                                    <td class="personField" ng-bind="game.numbers | persianNumber"></td>
                                                    <td ng-bind="game.start_time | persianNumber"></td>
                                                    <td ng-bind="game.end_time | persianNumber"></td>
                                                    <td style="direction: ltr"
                                                        ng-bind="game.points | persianNumber"></td>
                                                    <td class="priceField"
                                                        ng-bind="game.total | number| persianNumber"></td>
                                                </tr>
                                                <tr ng-if="new_invoice_data.current_game">
                                                    <td class="personField"
                                                        ng-bind="new_invoice_data.current_game.numbers | persianNumber"></td>
                                                    <td ng-bind="new_invoice_data.current_game.start_time | persianNumber"></td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>
                                                        <button ng-click="endCurrentGame(new_invoice_data.current_game.id)"
                                                                class="mainButton okrButton mediumButton fullWidthButton">
                                                            پایان زمان بازی
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="gameDataInfo"></div>
                                    </div>
                                </nav>

                            </aside>
                            <aside class="col-sm-7 leftSideInvoiceSale">
                                <div class="generalInfoInvoiceSale">
                                    <div>
                                        <label>میز<i class="fas fa-star-of-life"></i></label>
                                        <select ng-model="new_invoice_data.table_id" class="form-control">
                                            <option ng-repeat="table in tables"
                                                    value="{{ table.table_id }}"
                                                    ng-selected="table.table_id == new_invoice_data.table_id">{{ table.table_name }}</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label>مشتری</label>
                                        <input class="form-control" type="text"
                                               ng-model="new_invoice_data.member_data"
                                               ng-enter="get_member_data(new_invoice_data.member_data)"
                                               select-on-click>
                                    </div>
                                    <div>
                                        <label>تعداد مهمانان</label>
                                        <input class="form-control" type="number" min="0"
                                               ng-model="new_invoice_data.guest_numbers">
                                    </div>
                                    <div>
                                        <label>شماره فاکتور</label>
                                        <input class="form-control iranian-number" type="text"
                                               ng-model="new_invoice_data.invoice_sales_id" disabled>
                                    </div>
                                </div>
                                <table class="invoiceTable invoiceItem newInvoiceSaleTable">
                                    <tbody>
                                    <tr>
                                        <th class="first"></th>
                                        <th class="second">عنوان</th>
                                        <th class="third">قیمت واحد</th>
                                        <th class="forth">تعداد</th>
                                        <th class="fifth">قیمت کل</th>
                                        <th class="sixth">توضیحات</th>
                                    </tr>
                                    <tr ng-repeat="old_item in new_invoice_data.menu_items_old">
                                        <td class="first">
                                            <a ng-click="openDeleteModal('MENU', old_item.id)" style="cursor: pointer">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                        <td>{{ old_item.name }}</td>
                                        <td>{{ old_item.price | number:fractionSize | persianNumber }}</td>
                                        <td>{{ old_item.nums | persianNumber }}</td>
                                        <td>{{ old_item.total | number | persianNumber }}</td>
                                        <td>{{ old_item.description }}</td>
                                    </tr>

                                    <tr ng-repeat="old_item in new_invoice_data.shop_items_old">
                                        <td class="first">
                                            <a ng-click="openDeleteModal('SHOP', old_item.id)" style="cursor: pointer">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                        <td>{{ old_item.name }}</td>
                                        <td>{{ old_item.price | number:fractionSize | persianNumber }}</td>
                                        <td>{{ old_item.nums | persianNumber }}</td>
                                        <td>{{ old_item.total | persianNumber }}</td>
                                        <td>{{ old_item.description }}</td>
                                    </tr>
                                    <tr ng-repeat="game in new_invoice_data.games">
                                        <td class="first">
                                            <a ng-click="openDeleteModal('GAME', game.id)" style="cursor: pointer">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                        <td>بازی {{ game.numbers | persianNumber }} نفره
                                            ( {{ game.start_time | persianNumber }}
                                            تا {{ game.end_time | persianNumber }} )
                                        </td>
                                        <td>{{ game.numbers * price_per_hour_person | number | persianNumber }}</td>
                                        <td style="direction: ltr">{{ game.points | persianNumber }}</td>
                                        <td>{{ game.total | number| persianNumber }}</td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="new_item in new_invoice_data.menu_items_new">
                                        <td class="first"><a ng-click="deleteNewItem($index)" style="cursor: pointer"><i
                                                class="fas fa-trash"></i></a></td>
                                        <td>{{ new_item.name }}</td>
                                        <td>{{ new_item.price | number:fractionSize | persianNumber }}</td>
                                        <td><input class="form-control" type="number" min="0" ng-model="new_item.nums"
                                                   ng-change="changeItemNumber($index)"></td>
                                        <td>{{ new_item.total | number | persianNumber }}</td>
                                        <td><input class="form-control" type="text" ng-maxlength="60"
                                                   ng-model="new_item.description"></td>
                                    </tr>
                                    <tr ng-repeat="new_item in new_invoice_data.shop_items_new">
                                        <td class="first"><a ng-click="deleteNewItemShop($index)"
                                                             style="cursor: pointer"><i class="fas fa-trash"></i></a>
                                        </td>
                                        <td>{{ new_item.name }}</td>
                                        <td>{{ new_item.price | number:fractionSize | persianNumber }}</td>
                                        <td><input class="form-control" type="number" min="0" ng-model="new_item.nums"
                                                   ng-change="changeItemShopNumber($index)"></td>
                                        <td>{{ new_item.total | persianNumber }}</td>
                                        <td><input class="form-control" type="text" ng-maxlength="60"
                                                   ng-model="new_item.description"></td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div class="invoiceSaleFooter">
                                    <div>
                                        <div ng-if="new_invoice_data.current_game.start_time" class="gameCardInfo">
                                            <div>
                                                <label>تعداد</label>
                                                <p ng-bind="new_invoice_data.current_game.numbers | persianNumber"></p>
                                            </div>
                                            <div>
                                                <label>از ساعت</label>
                                                <p ng-bind="new_invoice_data.current_game.start_time | persianNumber"></p>
                                            </div>
                                            <div>
                                                <label>مدت</label>
                                                <p>- دقیقه</p>
                                            </div>
                                            <button ng-click="endCurrentGame(new_invoice_data.current_game.id)"
                                                    class="mainButton mediumButton okrButton">
                                                پایان زمان بازی
                                            </button>
                                        </div>
                                    </div>
                                    <table class="invoiceTable">
                                        <tbody>
                                        <tr>
                                            <th>اعتبار</th>
                                            <td>
                                                {{ new_invoice_data.total_credit | number:fractionSize | persianNumber }}</td>
                                        </tr>
                                        <tr>
                                            <th>اعتبار مصرفی</th>
                                            <td>
                                                {{ new_invoice_data.used_credit | number:fractionSize | persianNumber }}</td>
                                        </tr>
                                        <tr>
                                            <th>انعام</th>
                                            <td><input ng-model="new_invoice_data.tip" type="text" class="form-control"
                                                       aria-label="" format>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>تخفیف</th>
                                            <td><input ng-model="new_invoice_data.discount" type="text"
                                                       class="form-control"
                                                       aria-label="" format>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>جمع کل</th>
                                            <td>
                                                {{ new_invoice_data.total_price - new_invoice_data.discount - new_invoice_data.used_credit | number:fractionSize | persianNumber }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal alertModal redAlertModal" id="errorModal" data-backdrop="static"
         style="z-index: 1060"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">خطا</h2>
                    <a ng-click="closeErrorModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <span class="alertText">{{ error_message }}</span>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-backdrop="static" data-keyboard="false" class="modal fade mainModal alertModal" id="payModal"
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">انتخاب نوع پرداخت</h2>
                    <a ng-click="closePayModal()" class="mainButton redButton" data-dismiss="modal" href=""
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a href="" ng-click="settleInvoice()" class="mainButton greenButton"><i class="fas fa-save"></i> ثبت</a>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <main class="col-sm-12">
                                <form>
                                    <label class="lefty iconic">نقد<i class="fas fa-money-bill-alt"></i></label>
                                    <label class="righty iconic"><i class="fas fa-credit-card"></i>کارت‌خوان</label>
                                    <input ng-change="payModalChangeNumber()" type="range" class="form-control-range"
                                           ng-model="new_invoice_data.cash" min="0"
                                           max="{{ new_invoice_data.total_price - new_invoice_data.discount + new_invoice_data.tip - new_invoice_data.used_credit }}"
                                           step="5000">
                                    <input style="font-family: 'B Yekan'" disabled type="text" aria-label="pos"
                                           class="form-control paymentMethod righty"
                                           ng-model="new_invoice_data.card" format>
                                    <input style="font-family: 'B Yekan'" ng-change="payModalChangeNumber()" type="text"
                                           aria-label="cash"
                                           class="form-control paymentMethod lefty"
                                           ng-model="new_invoice_data.cash" format>
                                </form>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 119px" class="modal fade mainModal alertModal redAlertModal"
         id="closeCashPermissionModal" data-backdrop="static"
         data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">تایید بستن صندوق</h2>
                    <a ng-click="close_cash()" href="" class="mainButton greenButton"> بله</a>
                    <a ng-click="close_modal('closeCashPermissionModal', 'submit_cash_today_modal')" href=""
                       class="mainButton redButton"> خیر</a>
                </div>
                <div class="modal-body">
                    <p style="margin: 5px 15px 0 0"> آیا اطمینان به بستن صندوق دارید؟ شما به طور خودکار خارج خواهید
                        شد.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mainModal" id="submit_cash_today_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت اطلاعات صندوق روزانه</h2>
                    <a class="mainButton redButton closeModal" ng-click="close_modal('submit_cash_today_modal')"
                       aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="open_modal('closeCashPermissionModal', 'submit_cash_today_modal')" href=""
                       class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت و چاپ گزارش</a>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <table class="invoiceTable">
                                <tbody>
                                <tr>
                                    <td class="small-text">فروش</td>
                                    <td class="small-text">{{ status.all_sales_price - status.all_discount | number | persianNumber }}
                                        ریال
                                    </td>
                                </tr>
                                <tr>
                                    <td class="small-text">پوز بانکی</td>
                                    <td class="small-text">{{ status.all_pos | number | persianNumber }} ریال</td>
                                </tr>
                                <tr>
                                    <td class="small-text">گزارش پرداخت</td>
                                    <td class="small-text">
                                        <input class="form-control" type="number" min="0"
                                               ng-model="night_report_inputs.outcome_report">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="small-text">بلیط رویداد</td>
                                    <td class="small-text">
                                        <input class="form-control" type="number" min="0"
                                               ng-model="night_report_inputs.event_tickets">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="small-text">گزارش دریافت</td>
                                    <td class="small-text">
                                        <input class="form-control" type="number" min="0"
                                               ng-model="night_report_inputs.income_report">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="small-text">انعام</td>
                                    <td class="small-text">{{ status.all_tip | number | persianNumber }} ریال</td>
                                </tr>
                                <tr>
                                    <td class="small-text">پول نقد</td>
                                    <td class="small-text">
                                        <input class="form-control" type="number" min="0"
                                               ng-model="night_report_inputs.current_money_in_cash">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="small-text">صندوق</td>
                                    <td class="small-text">{{ ( status.all_sales_price - status.all_discount - status.all_pos -  night_report_inputs.outcome_report - night_report_inputs.event_tickets + night_report_inputs.income_report + status.all_tip ) | number | persianNumber }}
                                        ریال
                                    </td>
                                </tr>
                                <tr>
                                    <td class="small-text">اختلاف</td>
                                    <td ng-class="night_report_inputs.current_money_in_cash - ( status.all_sales_price - status.all_discount - status.all_pos -  night_report_inputs.outcome_report - night_report_inputs.event_tickets + night_report_inputs.income_report + status.all_tip ) >= 0 ? 'small-text green-cell': 'small-text red-cell'">{{ night_report_inputs.current_money_in_cash - ( status.all_sales_price - status.all_discount - status.all_pos -  night_report_inputs.outcome_report - night_report_inputs.event_tickets + night_report_inputs.income_report + status.all_tip ) | number | persianNumber }}
                                        ریال
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div ng-show="cash_state === 'NO_CASH'" class="cashStateAlert noCashState">
        <p>
            <i class="fas fa-exclamation-triangle"></i>
            <span>صندوق جدید باز کنید</span>
        </p>
        <p>
            برای شروع کار باید صندوق جدید باز کنید.
        </p>
        <button ng-click="open_cash()" class="mainButton greenButton">باز کردن صندوق جدید</button>
    </div>
    <div ng-show="cash_state === 'OLD_CASH' || cash_state === 'OLD_CASH_WITH_UNSETTLED_INVOICES'"
         class="cashStateAlert oldCashState">
        <p>
            <i class="fas fa-exclamation-triangle"></i>
            <span>صندوق جدید باز کنید</span>
        </p>
        <p>
            <span>صندوق قبلی به درستی بسته نشده است. برای ادامه کار باید صندوق قبلی بسته شده و صندوق جدید باز شود.</span>
            <br><br>
            <span class="font-weight-bold" ng-show="cash_state === 'OLD_CASH_WITH_UNSETTLED_INVOICES'">ابتدا فاکتورهای تسویه نشده را تسویه کنید.</span>
        </p>
        <button ng-disabled="cash_state === 'OLD_CASH_WITH_UNSETTLED_INVOICES'"
                ng-click="open_modal('submit_cash_today_modal')" class="mainButton greenButton">ثبت اطلاعات روزانه
        </button>
    </div>
    <div ng-if="cash_state === 'OLD_CASH_WITH_UNSETTLED_INVOICES'" style="margin: 1em" class="tableWrapper">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">نام مهمان</th>
                <th scope="col">میز</th>
                <th>وضعیت سفارش</th>
                <th>وضعیت بازی</th>
                <th scope="col">مبلغ فاکتور</th>
                <th scope="col">تعداد مهمانان</th>
                <th scope="col">ساعت تسویه</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="invoice in all_today_invoices" ng-class="invoice.is_settled ? 'settled_row': ''">
                <th scope="row">{{ invoice.guest_name }}</th>
                <td>{{ invoice.table_name }}</td>
                <td><span ng-hide="invoice.is_settled"
                          ng-class="return_status_badge_class_invoice(invoice.invoice_status.status)">{{ invoice.invoice_status.text }}</span>
                </td>
                <td><span ng-hide="invoice.is_settled"
                          ng-class="return_status_badge_class_game(invoice.game_status.status)">{{ invoice.game_status.text }}</span>
                </td>
                <td>
                    {{ invoice.total_price - invoice.discount - invoice.used_credit | number:fractionSize | persianNumber }}
                    ریال
                </td>
                <td>{{ invoice.guest_nums | persianNumber }} نفر</td>
                <td>{{ invoice.settle_time | persianNumber }}</td>
                <td ng-hide="invoice.is_settled" ng-click="editInvoice(invoice.invoice_id)"><a href=""
                                                                                               class="mainButton fullWidthButton smallButton grayButton">جزییات</a>
                </td>
                <td ng-show="invoice.is_settled"
                    ng-click="showInvoice(invoice.invoice_id, showEditPaymentButton=true, showPrintButton=true)"><a
                        href=""
                        class="mainButton fullWidthButton smallButton grayButton">جزییات</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <main ng-hide="cash_state === 'NO_CASH' || cash_state === 'OLD_CASH' || cash_state === 'OLD_CASH_WITH_UNSETTLED_INVOICES'"
          class="pageContent container-fluid">
        <div class="tableButtons">
            <div class="buttonGroup">
                <a class="addUser mainButton greenButton" ng-click="openAddInvoiceModal()" data-toggle="modal"><i
                        class="fas fa-file-invoice-dollar"></i> فاکتور جدید</a>
            </div>
        </div>
        <div class="row saloonPageContent">
            <main class="col-4 col-xl-3 tableNavigation">
                <div class="row">
                    <div style="padding: 0 0 0 15px;" class="col-12 mb-3">
                        <button class="mainButton fullWidthButton"
                                ng-class="!current_selected_table_name ? 'oilBlueButton' : 'grayButton'"
                                ng-click="show_today_invoices()"
                                data-toggle="modal">
                            فاکتورهای امروز
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div ng-repeat="table_category in categorized_tables_data" class="col-md-6 table_category">
                        <a ng-repeat="table in table_category.tables" href="" ng-click="selectTable(table.table_name)"
                           ng-class="set_class_name(table.table_name)"><span
                                ng-hide="table_factor_counts(table.table_name) === 0"
                                class="badge badge-pill badge-warning"
                                ng-bind="table_factor_counts(table.table_name)"></span>{{ table.table_name }}</a>
                    </div>
                </div>
            </main>

            <main class="col-8 col-xl-9">
                <div ng-hide="current_selected_table_name" class="tableWrapper">
                    <table class="table">
                        <thead>
                        </thead>
                        <h3 class="tableName">فاکتورهای امروز</h3>
                        <tbody>
                        <tr>
                            <th scope="col">نام مهمان</th>
                            <th scope="col">میز</th>
                            <th>وضعیت سفارش</th>
                            <th>وضعیت بازی</th>
                            <th scope="col">مبلغ فاکتور</th>
                            <th scope="col">تعداد مهمانان</th>
                            <th scope="col">ساعت تسویه</th>
                            <th scope="col"></th>
                        </tr>
                        <tr ng-repeat="invoice in all_today_invoices" ng-class="invoice.is_settled ? 'settled_row': ''">
                            <th scope="row">{{ invoice.guest_name }}</th>
                            <td>{{ invoice.table_name }}</td>
                            <td><span ng-hide="invoice.is_settled"
                                      ng-class="return_status_badge_class_invoice(invoice.invoice_status.status)">{{ invoice.invoice_status.text }}</span>
                            </td>
                            <td><span ng-hide="invoice.is_settled"
                                      ng-class="return_status_badge_class_game(invoice.game_status.status)">{{ invoice.game_status.text }}</span>
                            </td>
                            <td>
                                {{ invoice.total_price - invoice.discount - invoice.used_credit | number:fractionSize | persianNumber }}
                                ریال
                            </td>
                            <td>{{ invoice.guest_nums | persianNumber }} نفر</td>
                            <td>{{ invoice.settle_time | persianNumber }}</td>
                            <td ng-hide="invoice.is_settled" ng-click="editInvoice(invoice.invoice_id)"><a href=""
                                                                                                           class="mainButton fullWidthButton smallButton grayButton">جزییات</a>
                            </td>
                            <td ng-show="invoice.is_settled"
                                ng-click="showInvoice(invoice.invoice_id, showEditPaymentButton=true, showPrintButton=true)">
                                <a href=""
                                   class="mainButton fullWidthButton smallButton grayButton">جزییات</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div ng-show="current_selected_table_name" class="tableWrapper">
                    <table class="table">
                        <h3 class="tableName">{{ current_selected_table_name }}</h3>
                        <tbody>
                        <tr>
                            <th>نام مهمان</th>
                            <th>وضعیت سفارش</th>
                            <th>وضعیت بازی</th>
                            <th>مبلغ فاکتور</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="s_invoice in selected_table_data">
                            <th scope="row">{{ s_invoice.guest_name }}</th>
                            <td><span
                                    ng-class="return_status_badge_class_invoice(s_invoice.invoice_status.status)">{{ s_invoice.invoice_status.text }}</span>
                            </td>
                            <td><span
                                    ng-class="return_status_badge_class_game(s_invoice.game_status.status)">{{ s_invoice.game_status.text }}</span>
                            </td>
                            <td>
                                <span class="priceField"
                                      ng-bind="s_invoice.total_price - s_invoice.discount - s_invoice.used_credit | number | persianNumber"></span>
                            </td>
                            <td class="tableButtonWrapper">
                                <a href="" ng-click="editInvoice(s_invoice.invoice_id)"
                                   class="mainButton newGrayButton smallButton fullWidthButton">جزییات</a>
                                <a href="" ng-click="openDeleteInvoiceModal(s_invoice.invoice_id)"
                                   class="mainButton redButton smallButton fullWidthButton">حذف فاکتور</a>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </main>
        </div>
    </main>
</div>