<div ng-controller="stocksCtrl">
    <div data-backdrop="static" data-keyboard="false" class="modal fade modalBottomButtonsTopNav"
         id="addStockModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="tabGroup">
                        <button class="mainButton active">
                            انبار
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <label>نام انبار<i class="fas fa-star-of-life"></i></label>
                                <input ng-model="new_stocks_data.name" type="text" aria-label="First name"
                                       class="form-control" placeholder="نام انبار">
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox-unit">
                                <label class="checkbox-unit-title requiredFieldStar">شعبه</label>
                                <label ng-repeat="branch in branches" class="checkbox-item">
                                    <input ng-checked="branch.is_checked"
                                           ng-model="branch.is_checked_m"
                                           type="checkbox"
                                           ng-click="changeStockBranchCheckBox(branch.id)">
                                    <span class="check-box-effect" ng-bind="branch.name"></span>
                                </label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <a class="mainButton redButton closeModal"
                       ng-click="close_modal('addStockModal');resetFrom()"
                       aria-label="Close">
                        <span aria-hidden="true">خروج</span>
                    </a>
                    <a ng-click="addStock()" href=""
                       class="mainButton greenButton">ثبت</a>
                </div>
            </div>
        </div>
    </div>
    <main class="pageContent container-fluid">
        <div class="tableButtons">
            <a class="addUser mainButton greenButton" ng-click="open_modal('addStockModal')" data-toggle="modal"
               data-backdrop="static" data-keyboard="false"> انبار جدید</a>
        </div>
        <table-directive headers="table_headers"
                         config="table_config"
                         rows="stocks"
                         detail-callback="editStock(item_id)">
        </table-directive>
    </main>
</div>