<div ng-controller="stockCtrl">
    <div class="modal fade mainModal" id="addStockModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modalHeader">
                    <h2 class="modalTitle">ثبت انبار جدید</h2>
                    <a class="mainButton redButton closeModal" ng-click="closeForm()"  aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i>  خروج</span>
                    </a>
                    <a ng-click="addStock()" href=""  class="mainButton greenButton"><i
                            class="fas fa-save"></i> ثبت</a>
                    <a ng-click="resetFrom()" href=""  class="mainButton grayButton"><i class="fas fa-eraser"></i>
                        پاک کردن صفحه</a>
                </div>
                <div class="modal-body">
                    <form>
                        <h3>اطلاعات انبار</h3>
                        <div class="row">
                            <div class="col">
                                <input ng-model="new_stock_data.name" type="text" aria-label="First name"
                                       class="form-control" placeholder="نام انبار">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <textarea style="font-family: 13px;" ng-model="new_stock_data.description"
                                          class="form-control" placeholder="توضیحات"></textarea>
                            </div>
                        </div>
                        <div style="margin-top: 40px" class="row">
                            <div class="col">
                                <label for="formControlRange">رتبه‌بندی ( {{ new_stock_data.rate | persianNumber }} )</label>
                                <input ng-model="new_stock_data.rate" min="1" max="5" value="1" type="range"
                                       class="form-control-range"
                                       id="formControlRange">
                            </div>
                        </div>
                        <div style="margin-top: 40px" class="row">
                            <div class="col">
                                <div class="custom-file">
                                    <input onchange="angular.element(this).scope().FileChange()"
                                           ng-model="new_stock_data.image_name" type="file"
                                           class="custom-file-input" id="customFile">
                                    <label style="direction: ltr;text-align: left" class="custom-file-label"
                                           for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <main class="pageContent container-fluid">
        <div class="row userPageContent">
            <main class="col-sm-12 ">
                <div class="tableButtons clearfix">
                    <input ng-keyup="searchStock()" ng-model="search_data_stock.search_word"
                           class="form-control listFilter" type="search" placeholder="فیلتر کن">
                    <a class="addUser mainButton greenButton" ng-click="openAddStockModal()" data-toggle="modal"><i
                            class="fas fa-user-plus"></i> انبار جدید</a>
                </div>
                <div class="tableWrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">نام انبار</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stock in stocks">
                            <th scope="row">{{ stock.name }}</th>
                            <td><a ng-click="editStock(stock.id)" href="" ><i
                                    class="fas fa-user-cog"></i></a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <nav ng-hide="1" aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <span class="page-link">قبلی</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">۱</a></li>
                        <li class="page-item active">
                                            <span class="page-link">
                                                ۲
                                                <span class="sr-only">(current)</span>
                                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">۳</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">بعدی</a>
                        </li>
                    </ul>
                </nav>

            </main>


        </div>
    </main>
</div>
