<div ng-controller="supplierCtrl">
    <main class="pageContent">
        <div class="tableButtons">
            <div></div>
            <div class="buttonGroup">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a ui-sref="dashboard.accounting.suppliers">تامین کنندگان</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ supplier_name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="tableWrapper">
            <table class="table">
                <tbody>
                <tr class="tableTotal">
                    <th>مانده حساب</th>
                    <td>
                        <form>
                            <input ng-model="search_data_supplier_remainder.to_time" id="datepicker_remainder"
                                   class="form-control listFilter" placeholder="تا الان" type="text"
                                   style="margin-bottom: 0;">
                        </form>
                        <a href="" ng-click="get_remainder()" class="mainButton grayButton"
                           style="margin-right: 10px; height: 40px;">اعمال فیلتر</a>
                    </td>
                    <td>
                        <span ng-class="remainder >= 0 ? 'badge badge-pill badge-success' : 'badge badge-pill badge-danger'">{{ remainder | number | persianNumber }} ریال</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <table-directive headers="headers"
                         config="table_configs"
                         rows="all_sum_invoices_supplier"
                         detail-callback="go_to_detail_of_invoice(item_id)"></table-directive>

    </main>
</div>