<div ng-controller="accountManagerCtrl">
    <div data-backdrop="static" data-keyboard="false" class="modal fade modalBottomButtonsTopNav"
         id="addModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="tabGroup">
                        <button class="mainButton active">
                            اطلاعات تامین‌کننده
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <label class="requiredFieldStar">نام تامین‌کننده</label>
                                <input ng-model="new_supplier_data.name" type="text" aria-label="First name"
                                       class="form-control" placeholder="نام تامین‌کننده">
                            </div>
                            <div class="col">
                                <label class="requiredFieldStar">شماره تلفن تامین‌کننده</label>
                                <input ng-model="new_supplier_data.phone" type="text" aria-label="First name"
                                       class="form-control" placeholder="شماره تلفن تامین‌کننده">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>نام مسول فروش</label>
                                <input ng-model="new_supplier_data.salesman_name" type="text" aria-label="First name"
                                       class="form-control" placeholder="نام مسول فروش">
                            </div>
                            <div class="col">
                                <label>شماره تلفن مسول فروش</label>
                                <input ng-model="new_supplier_data.salesman_phone" type="text" aria-label="First name"
                                       class="form-control" placeholder="شماره تلفن مسول فروش">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="mainButton redButton closeModal"
                       ng-click="closeAddModal()"
                       aria-label="Close">
                        <span aria-hidden="true">خروج</span>
                    </a>
                    <a ng-click="addSupplier()" href=""
                       class="mainButton greenButton">ثبت</a>
                </div>
            </div>
        </div>
    </div>
    <main class="pageContent">
        <div class="tableButtons">
            <div class="buttonGroup">
                <a ng-click="openAddModal()" href="" class="mainButton greenButton">تامین‌کننده جدید</a>
            </div>
            <div class="buttonGroup">
                <form>
                    <input ng-keyup="searchSupplier()" ng-model="search_data_supplier.search_word"
                           class="form-control listFilter" type="search" placeholder="فیلتر کن">
                </form>
            </div>
        </div>
        <table-directive headers="headers"
                         config="table_config"
                         rows="suppliers" detail-callback="go_to_supplier_detail(item_id)"
                         right-side-detail-callback="editSupplier(item_id)"
                         delete-callback="deleteSupplier(item_id)"></table-directive>
    </main>
</div>