<div class="tableWrapper">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th ng-repeat="header in headers" scope="col" ng-bind="header.name"></th>
            <th scope="col" ng-if="config.has_detail_button"></th>
            <th scope="col" ng-if="config.has_delete_button"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in rows">
            <td scope="row" ng-bind="$index + 1 | persianNumber"></td>
            <td scope="row" ng-repeat="header in headers">
                <span ng-if="config.price_fields.indexOf(header.key) === -1">{{ item[header.key] | persianNumber }}</span>
                <span ng-if="config.price_fields.indexOf(header.key) !== -1">{{ item[header.key] | number | persianNumber }}</span>
            </td>
            <td scope="col" ng-if="config.has_detail_button">
                <a ng-click="detailCallback({item_id: item.id})" href=""
                   class="mainButton fullWidthButton smallButton grayButton">جزییات</a>
            </td>
            <td scope="col" ng-if="config.has_delete_button">
                <a ng-click="deleteCallback({item_id: item.id})" href=""
                   class="mainButton fullWidthButton smallButton grayButton">حذف</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
