<div id="menu">
    <div class="pure-menu">
        <a class="pure-menu-heading" href="#">ادمین نمک</a>

        <ul class="pure-menu-list">
            <li id="sidebar-main" class="pure-menu-item"><a href="/onward/" class="pure-menu-link">کافه ها</a></li>
            <li id="sidebar-news" class="pure-menu-item"><a href="/onward/news/" class="pure-menu-link">اخبار</a></li>
            <li id="sidebar-bugreports" class="pure-menu-item"><a href="/onward/bugreports/" class="pure-menu-link">گزارش های باگ</a></li>
            <li id="sidebar-logout" class="pure-menu-item"><a href="/onward/logout/" style="margin-top: 5px; border-top: 3px double #393939;" class="pure-menu-link">خروج</a></li>
        </ul>
    </div>
</div>