{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Namak Admin Panel">
    <title>Namak Admin</title>
    <link rel="stylesheet" href="{% static '/css/pure/pure-min.css' %}" >
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">  
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    {% include "admin_panel_sidebar.html" %}

    <div id="main">
        <div class="header">
            <h1>Namak Admin</h1>
            <h2>ساخت اخبار</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">ساخت اخبار</h2>


            <form class="pure-form pure-form-stacked" action="/onward/news/create/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>



        </div>
    </div>
</div>

<script>
    document.getElementById("sidebar-news").classList.add("pure-menu-selected");
</script>

</body>
</html>